$icon-font-path: "../components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../components/fontawesome/fonts";
$chosen-sprite-path: "../components/bootstrap-chosen/chosen-sprite.png";
$chosen-sprite-retina-path: "../components/bootstrap-chosen/chosen-sprite@2x.png";
// bower:scss
@import "../components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "../components/bootstrap-chosen/bootstrap-chosen-variables.scss";
@import "../components/bootstrap-chosen/bootstrap-chosen.scss";
@import "../components/fontawesome/scss/font-awesome.scss";
// endbower
body {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .fixedNavbar .container{
    padding: 0 0 0 15px;
  }
}
@media only screen and (max-width: 768px) {
  .fixedNavbar .container{
    padding: 0 15px;
  }
}
#chart, #header, #footer {
  position: absolute;
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

#top-link-block.affix-top {
  position: absolute; /* allows it to "slide" up into view */
  bottom: -82px; /* negative of the offset - height of link element */
  left: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: 18px; /* height of link element */
  left: 10px; /* padding from the left side of the window */
}

#searchRemoveIcon:hover{
  cursor: pointer;
}

#signout {
  float: right;
}
#signout:hover {
  cursor: pointer;
  text-decoration: underline;
}
//Google login button
#signInButton {
  margin-top: 7px !important;
}

#googleSignIn {
  margin-top: 5px;
}

#googleSignIn button {
  background-color: #2986e2;
  border-color: #2986e2;
  opacity: 1;
  color: white;
}
#dataSummary table td{
  text-align: center;
}
#dataSummary table th:nth-child(1){
  text-align: left;
}
#dataSummary table th{
  text-align: center;
}
#dataSummary table td:nth-child(1){
  text-align: left;
}
table.colorFirstCol td:nth-child(1) {
  background-color: lightgray;
}
table.colorHeader thead tr{
  background-color: lightgray;
}
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: grey;
    margin-left: 5px;
}

#gene {
    .subtitle {
        width: 60%;
        display: inline-block;
        .fa.fa-external-link {
            margin-left: 3px;
        }
    }
    .subtitle.subtitle-1 {
        font-weight: bold;
        .entrezGene {
            float: left;
            margin-right: 10px
        }
        .header {
            float: left;
            color: grey;
            margin-right: 10px
        }
        .alias-item {
            float: left;
            .comma {
                margin-right: 5px
            }
        }
    }
    .top-tools-menu {
        .dropdown-menu {
            li > a:hover {
                cursor: pointer;
            }
            .fa {
                margin-right: 5px;
            }
        }
    }
}

.genes {
    .header-buttons {
        .group {
            margin: 0 10px 5px 0;
        }
        .backup {
            width: 200px;
        }
        .create {
            width: 300px;
        }
    }
}

.success-info {
    color: #428bca;
}
/* */

div[contenteditable=true] {
  border: 1px dashed #AAA;
  width: 290px;
  padding: 5px;
}
.variantDisplayResult {
  margin: 10px 0;
}

.variantDisplayResult table td:nth-child(1) {
  white-space: nowrap;
}

.variantDisplayResult .icon {
  width: 12px;
}
.variantDisplayResult .icon.iconCollapse{
  display: none;
}
.variantDisplayResult .icon.iconExpand{
  display: inline-block;
}
.editableBox {
  background-color: #F1F9FF;
}
.unEditableBox {
  background-color: transparent;
}
input.editableBox {
  border: 0;
  width:80%;
}
p.editableBox {
  min-height: 20px;
}
p.editableBox.doubleH {
  min-height: 40px;
}
.reviewed {
    color: #82E452;
}
.reviewedBG {
    background-color: #EEEEEE;
}
.curateTrialItem, .vusItem {
  float: left;
  height: 30px;
  margin: 5px;
  border: 1px solid #ccc;
  padding: 3px 8px;
  border-radius: 3px;
}
.trialsInputGroup, .vusGroup {
  float: left;
  margin: 5px;
  width: 200px;
}
.vusItemDate {
  margin-left: 5px;
  font-size: 12px;
  font-style: italic;
  color: grey
}
.oncoKBALoading {
  position: absolute;
  top: 20%;
  left: calc(50% - 150px);
  text-align: center;
}
.oncoKBLoading {
  width: 100%;
  position: relative;
  text-align: center;
}
.geneComments, .eStatusComments {
  position: absolute;
  width: 300px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  background-color: white;
  display: none;
  z-index: 999;
  color: black;
}
.eStatusComments {
  width: 165px;
  right: 0;
  top: 20px;
}
.reportGenerator .row{
    margin-left: 0px;
    margin-right:0px;
}
.first-row-margin {
    margin-top:30px;
    margin-bottom:10px;
}
.row-margin {
    margin-bottom:10px;
}
.last-row-margin {
    margin-bottom:30px;
}
.approvedIndication,.mutationEffect {
  width: 100%;
}
.approvedIndication .header,.mutationEffect .header{
  float: left;
}
.approvedIndication .header {
  width: 175px;
}
.mutationEffect .header {
  width: 110px;
}
.approvedIndication .content,.mutationEffect .content{
  float: left;
}
.approvedIndication .content {
  width: calc(100% - 175px);
}
.mutationEffect .content{
  width: calc(100% - 110px);
}
.mutationEffect .content span{
  width: 210px;
  float: left;
}
.mutationEffect .content span input[type="text"]{
  float: right;
  width: calc(100% - 110px);
}
.mutationEffectDiv {
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
}
.mutationEffectDivHeader {
  font-weight: bold;
  width: 140px;
  margin-top: -20px;
  background: white;
  color: grey;
  margin-bottom: 10px;
}
.floatToolBox {
  position: fixed;
  bottom: 16px;
  left: 10px;
  background-color: white;
  z-index: 999;
}
.tooltip-inner {
  max-width: 400px;
  padding: 3px 8px;
  color: black;
  text-align: left;
  text-decoration: none;
  background-color: white;
  border-radius: 4px;
  border: 1px solid grey;
  opacity: 1;
  background: white;
}
.geneLastModify {
  font-style: italic;
  font-size: 12px;
  color: grey;
}
.geneMainDiv {
  margin-bottom: 70px;
}
.accordionMarginTop {
  margin-top: 5px;
}
.tumorButtonsGroup {
  margin: 5px 5px 5px 0;
}
.tumorButtonsGroup button span {
  font-weight: bold;
}
.geneComments .title{
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.geneComments .content{
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.curationNoEntry {
  font-size: 11px;
  font-style: italic;
  color: orange;
  font-weight: bold;
  margin: 0 5px;
}
.fixedNavbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 4px rgba(0,0,0,.3);
}
.dashedHeader th:not(:first-child){
  border-left: 1px dashed lightgrey;
}
.oncokbMainView {
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  padding-top: 70px;
  min-height: 400px;
  margin-bottom: 200px;
}
.ieWarning {
  width: 100%;
  background-color: red;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.levelOneHeader .panel-heading{
  background-color: #E2F1EF;
  border-left: 5px solid #2BB09A;
}
.levelTwoHeader .panel-heading{
  background-color: #FFF9EF;
  border-left: 5px solid #FFB83E;
}
.levelThreeHeader .panel-heading{
  background-color: #FFF5EF;
  border-left: 5px solid #FF8C3E;
}
.levelFourHeader .panel-heading{
  background-color: #E4EAF2;
  border-left: 5px solid #396BB6;
}
.geneLinks td:nth-child(1){
  font-size:15px;
  font-weight: bold;
}
.geneLinkDiv>span {
  float: left;
  font-size: 13px;
  font-weight: bold;
}
.geneLinkDiv>div{
  float: left;
  margin: 0 0 0 10px;
}
.geneLinkDiv>div>div>span{
  font-style: italic;
}
table.dataTable thead .sorting_asc {
  background: none;
}
table.dataTable thead .sorting_desc {
  background: none;
}
i.fa-comments, i.fa-comments-o, i.fa-battery-0, i.fa-battery-1, i.fa-battery-2, i.fa-battery-3, i.fa-battery-4{
  font-size: 15px;
}
i.fa-trash-o:hover, i.fa-pencil:hover, i.fa-eye:hover, i.fa-hand-o-left:hover
i.fa-minus, i.fa-plus, i.fa-angle-down,
i.fa-chevron-right, i.fa-chevron-down,
i.fa-angle-up, i.fa-angle-double-down, i.fa-angle-double-up{
  cursor: pointer;
}
.geneMainDiv i.fa-minus, .geneMainDiv i.fa-plus {
  color: grey;
}
.fa-comments-white {
  color: inherit;
}
.fa-comments-orange {
  color: orange;
}
.fa-comments-red {
  color: red;
  cursor:pointer;
  margin-right:10px;
}
.fa-comments-green {
  color: #70b500;
}
.fa-comments-grey {
    color: grey;
    cursor:pointer;
    margin-right: 10px;
}
.fa-margin {
    margin-left: 10px;
}
.left-float {
    float:left;
}
rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.container {
  // margin-left: 50px;
  // margin-top: 20px;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a.withUnderScore {
  text-decoration: underline;
}

a:hover {
  color: #666;
}

._hidden {
  display: none;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}

.has-addon-feedback .form-control-feedback {
  position: absolute;
  top: 1px;
  right: 70px;
  width: 34px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: grey;
  pointer-events: auto;
}

.has-addon-feedback .form-control-feedback.result {
  right: 100px;
  width: 80px;
  text-align: right;
}
.has-addon-feedback .form-control-feedback.upper {
  z-index: 2;
}
.has-addon-feedback .form-control-feedback.lower {
  z-index: 1;
}
.annotationClinicalTrial {
  margin-bottom: 10px;
}
.resistance-title {
  color: red;
}
h5 {
  margin-bottom: 0;
}
.vus-table thead, .vus-table tbody tr td:nth-child(1){
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

//Change sk-spinner style
.sk-spinner-wave.mskcc div {
  background-color: #2986e2
}
.sk-spinner-wave.white div {
  background-color: #fff
}
.sk-spinner-wave.margin div {
  margin: 0 2px;
}

//Change/add font awesome icons
.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fa-rotate-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

//Change bootstrap-chosen style
.chosen-container-single .chosen-single {
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.modify-tumor-type .chosen-container-single {
    width: 100% !important;
}
.add-tumor-type-item .chosen-container-single {
    width: 30% !important;
}

//Change bootstrap default color
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 0s linear all;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}


//Make sure the chosen dropdown always 100% no matter how the bower size changes
#cancerTypesDropDown_chosen
,#subtypesDropDown_chosen
,#variantMutationDropDown_chosen
,#variantGeneNameDropDown_chosen
,#curateTumorTypesDropdown_chosen {
  width: 100% !important;
}
#curationQueueEmailCuratorSelect_chosen {
    width: calc(100% - 200px) !important;
}

#consequencesDropDown_chosen {
  width: 160px !important;
}

#consequencesDropDown_chosen>a{
  border-radius: 0 4px 4px 0;
  border-left: 0;
}

.chosen-full-width .chosen-container {
  width: 80% !important;
}

.m-b-5 {
  margin-bottom: 5px;
}

.half {
  width: 50%;
}
.oneThird {
  width: 33.33333%;
    padding-left: 3px;
    padding-right: 3px;
}
.oneFifth {
  width: 20%
}
.twoFifth {
  width: 40%
}
.threeFifth {
  width: 60%
}
.fullWidth {
  width: 100%;
}
.alignCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 100%;
  height:50px;
  position:relative;
  display:inline-block;
  overflow:hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}
.logo > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 50px;
}
.greyB {
  background-color: lightgray;
  font-weight: bold;
}
#variantCriteria>div {
  margin-bottom: 5px;
}
#questHeaderSwither {
  width: 100%;
  margin-bottom: 10px;
  height: 20px;
}
#questHeaderSwither button {
  padding: 1px 10px;
  border: 0;
  float: right;
}
#questHeaderSwither div.fa {
  margin-left: 5px;
}
#rg-rfr-btn {
  margin-left: 5px;
}

.qtip hr {
  margin: 5px 0;
}

.qtip {
  max-width: 700px
}
.geneKeywordSpan {
  margin: 0 5px;
  text-decoration: underline;
}
.floatLeft {
  float: left;
}
.panel-title *:focus {
    outline: none;
}
.original-tumor-type {
    font-size: 12px;
    color: grey;
    font-style: italic;
}
.add-tumor-type-item {
    width: 100%;
    margin: 10px 0;
}

#variantDisplay {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-left: 5px;
        padding-right: 5px;
    }
}
/*** custom checkboxes ***/
input[type=radio], input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=radio] + label:before, input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  margin: 0 0 0 3px;
}
input[type=radio] + label:hover, input[type=checkbox] + label:hover {
  cursor: pointer;
}
input[type=radio] + label:before, input[type=checkbox] + label:before { content: "\f096"; letter-spacing: 5px;} /* unchecked icon */

input[type=radio]:checked + label:before, input[type=checkbox]:checked + label:before { content: "\f046"; letter-spacing: 5px;} /* checked icon */

.reviewPanel {
    float:right;
    margin-top:-20px;
    .updateText {
        font-size:15px;
        float:left;
        margin-right:10px
    }
    .sectionText {
        color:red;
        font-size:15px;
        float:left;
        margin-right:10px
    }
    .panelMargin {
      margin-top:20px;
    }
}
.seperationLine {
    border-bottom: 2px solid lightgrey;
}

.pub-iframe {
    margin-bottom: 10px;
}

.curationQueue {
    display: inline-block;
    width:100%;
    .headerStyle {
        margin-bottom: 30px;
    }
    .inputMargin {
      margin-top: 20px;
    }
    .buttonStyle {
      padding: 5px;
      font-size: 14px;
      line-height: 14px;
      i {
        width: 14px;
        height: 14px;
      }
    }
    .displayAll {
        font-size: 14px;
        margin-left: 20px
    }
    table > tbody > tr > td, table > thead > tr > th {
        padding: 5px;
    }
    .cellStyle {
        padding-left: 0px;
        padding-right: 5px
    }
    .labelAlign{
      display: inline-block;
      width: 150px;
      float: left;
    }
    .inputStyle{
      width: 80%;
      display: inline-block;
    }
    .attention{
      color: red;
    }
    .subType {
      display: inline-block;
      margin-left: 20px;
    }
    .subTypeSelect {
      min-width: 350px;
    }
    .predictedArticle {
      display: inline-block;
    }
    .tableStyle {
      margin-top:20px;
    }
}

.drugsPage {
    .headerStyle {
        margin-bottom: 30px;
    }
    .table {
        .buttonStyle {
            padding: 5px;
            font-size: 15px;
            line-height: 15px;
            i {
                width: 15px;
                height: 15px;
            }
        }
    }
    table > tbody > tr > td, table > thead > tr > th {
        padding: 12px;
    }
    .table > tbody > tr > td {
        word-wrap: break-word;
    }
    .errorReminderXL {
        font-size: 24px;
        color: red;
    }
}

.searchAddDrug {
    .nameLabel{
        width: 170px;
    }
    .searchbox {
        width: 500px;
        margin-right: 20px;
    }
    .preferNameDropdown {
        width: 500px;
        margin-top: 10px;
    }
    .errorReminder {
        font-size: 15px;
        color: red;
    }
    .basicName {
        color: black;
        font-size: 15px;
    }
    .alsoKnownAs {
        display: inline;
        color: grey;
        font-size: 13px;
        font-style: italic;
    }
    .drugsDropdown {
        width: 100%;
    }
}

.flexRow {
    display: flex;
}

.addModifyTherapy {
    .latestResultDiv{
        margin-bottom: 10px;
    }
    .latestResultFont{
        font-weight: bold;
        display: inline;
    }
    .therapyLabel{
        width: 80px;
    }
    .addButton {
        border-style: none;
        font-size: 16px;
        margin-top: -6px;
    }
    .inputDrugs {
        flex-grow: 1;
        flex-basis: 70%;
    }
    .errorNote {
        color: red;
        float: left;
    }
    .tagsBox{
        width:650px;
    }
}

.invalidPubIframe {
    color: red !important;
}
.reviewedData {
  width: 200px;
  word-break: break-all;
}
.queryLabel {
  margin-right: -80px;
  margin-top:5px
}

.validResult {
  color: green;
}
.invalidResult {
  color: red;
}
.validationButton {
  margin-top:-35px;
  margin-left:800px
}
.headerLevel1 {
  background-color: #E2F1EF;
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  transition: 0.4s;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  border-left: 6px solid #2BB09A;
}
.headerLevel2 {
  background-color: #FFF9EF;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  transition: 0.4s;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  border-left: 6px solid #FFB83E;
}
.headerLevel3 {
  background-color: #FFF5EF;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  transition: 0.4s;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  border-left: 6px solid #FF8C3E;
}
.headerLevel4 {
  background-color: #E4EAF2;
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  transition: 0.4s;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  border-left: 6px solid #396BB6;
}
.panelContent {
  padding: 18px;
  display: block;
}
.angleIconStyle {
  font-size: 22px;
  font-weight: bolder;
}
.sectionStyle {
  border: 0.5px solid #ddd;
}
.editEmpty {
    display: block;
    height: 24px;
}
.longMutationName {
    height: 100px;
    display:inline-block;
}

.longMutationNameReview {
    height: 200px;
}

.levelWithLongName {
    margin-top: 15px;
}
.levelWithoutLongName {
    margin-left: 10px;
}
.longContent {
    height: 40px;
}
.longContentDivMargin {
    margin-top: 30px;
}
.tage-label {
    display: inline-block;
    padding: .2em .6em .3em;
    margin-bottom:5px;
    font-size: 15px;
    color: #fff;
    white-space: pre-wrap;
    border-radius: .25em;
}
.records-width {
    max-width: 700px;
}
.date-range-column {
    display: inline-flex
}
.cancel-icon {
    margin-top: 5px;
    position: relative;
    left: -20px;
    cursor: default;
}
.result-margin {
    margin-bottom:40px;
}
.label-new {
    color: #000000;
    background-color: #F1F9FF;
}
.label-old {
    color: #000000;
    background-color: #ccc;
}

