<span>
  <i ng-hide="status.rendering" class="fa " ng-class="{'fa-comments-o': !status.hasComment, 'fa-comments': status.hasComment, 'fa-comments-orange': status.hasComment && !status.allResolved, 'fa-comments-green': status.hasComment && status.allResolved}">
    <commentsBody class="geneComments">
      <div ng-repeat="comment in obj[key+'_comments']">
        <div style="width: 100%; float: left; margin: 5px 0;">
          <div style="width: 45%; float: left;" class="title">
            <span style="width: 100%; float: left;">{{::comment.userName}}</span>
            <span style="width: 100%; float: left;">{{::comment.date | date:'h:mma MMM dd yyyy'}}</span>
          </div>
          <div ng-if="fileEditable" style="width: 55%; float: left;">
            <span class="btn-group btn-group-sm pull-right" role="group">
              <button class="btn btn-default" ng-click="resolve($index)" ng-disabled="comment.resolved === 'true'">
                <span ng-switch on="comment.resolved">
                  <span ng-switch-when="false">Resolve</span>
                  <span ng-switch-when="true">Resolved</span>
                </span>
              </button>
              <button class="btn btn-default" ng-click="delete($index)" ng-if="me.admin">Delete</button>
            </span>
          </div>
          <div style="width: 100%; float: left; white-space: normal;" class="content">
            <span>{{comment.content}}</span>
          </div>
        </div>
      </div>
      <div ng-if="fileEditable" class="input-group input-group-sm">
        <input type="text" class="form-control" ng-model="params.newCommentContent" placeholder="Add comment." />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-disabled="!(!!params.newCommentContent)" ng-click="add()">
            <i class="fa fa-plus"></i>
          </button>
        </span>
      </div>
    </commentsBody>
  </i>
</span>