<div class="drive-realtime-string">
    <div ng-if="t === 'p'">
        <h4 ng-if="reviewMode && !rs.get('action')">New Content:</h4>
        <p class="doubleH" ng-if="!reviewMode || !rs.get('action')"
           ng-class="{editableBox:fe, unEditableBox:!fe}"
           contenteditable="{{!reviewMode ? fe : true}}"
           placeholder="{{ph}}"
           ng-model="content.stringO">
        </p>
        <h4 ng-if="reviewMode && !rs.get('action')">Old Content:</h4>
        <p ng-if="reviewMode">{{!rs.get('action') ? rs.get('lastReviewed') : content.stringO}}
        </p>
        <pub-iframe
            ng-model="content.stringO"
            ng-if="io">
        </pub-iframe>
    </div>
    <div ng-if="t === 'input'">
        <input type='text' ng-class="{editableBox:fe, unEditableBox:!fe}" contenteditable="{{fe}}" placeholder="{{ph}}"
               ng-model="content.stringO"/>
    </div>
    <div ng-if="t === 'short'">
        <p ng-class="{editableBox:fe, unEditableBox:!fe}" ng-if="!reviewMode || !rs.get('action')"
           contenteditable="{{!reviewMode ? fe : true}}"
           placeholder="{{ph}}"
           ng-model="content.stringO">
        </p>
        <p ng-if="reviewMode">{{!rs.get('action') ? rs.get('lastReviewed') : content.stringO}}
    </div>
    <div ng-if="t === 'select'">
        <select ng-model="content.stringO" ng-if="!reviewMode || !rs.get('action')"
                ng-options="opt.value as opt.label for opt in o">
        </select>
        <p ng-if="reviewMode">{{!rs.get('action') ? rs.get('lastReviewed') : content.stringO}}
    </div>
    <div ng-if="t === 'treatment-select'" class="treatment-select">
        <div>
            <select ng-model="content.stringO"
                    ng-options="opt.value as opt.label for opt in o">
            </select>
        </div>
        <div class="propagation" ng-if="content.propagationOpts.length > 0">
            <span>Level of Evidence in other tumor types: </span>
            <select ng-model="content.propagation"
                    ng-options="opt.value as opt.name for opt in content.propagationOpts">
            </select>
        </div>
    </div>
    <div ng-if="t === 'select-chosen'" class="chosen-full-width">
        <select chosen ng-attr-id="{{chosenid}}" allow-single-deselect="true" ng-model="content.stringO"
                ng-options="opt for opt in o">
            <option value="NA"></option>
        </select>
    </div>
    <div ng-if="t === 'checkbox'">
        <div>
            <br/>
            <h4 ng-if="reviewMode && !objecttype && !rs.get('action')">New Content:</h4>
            <div>
                    <span ng-repeat="checkbox in checkboxes" ng-if="!reviewMode || !rs.get('action')">
                      <input
                          id="{{checkboxid}}-{{$index}}"
                          type="radio"
                          ng-model="content.stringO"
                          ng-value="checkbox"
                          ng-disabled="!reviewMode ? !fe : false"
                          ng-click="uncheck($event)"
                          >
                      <label for="{{checkboxid}}-{{$index}}">{{checkbox}}</label>
                    </span>
            </div>
        </div>

        <div ng-class="{'left-float': rs.get('mutation_effect')}">
            <h4 ng-if="reviewMode && !objecttype && !rs.get('action')">Old Content:</h4>
            <div>
                <span ng-if="reviewMode && !objecttype" ng-repeat="checkbox in checkboxes" class="reviewedBG">
                  <input
                      id="{{checkboxid}}-{{$index}}-review"
                      type="radio"
                      ng-checked="(!rs.get('action') ? rs.get('lastReviewed') : content.stringO) === checkbox ? true : false"
                      ng-disabled="true"
                      >
                  <label for="{{checkboxid}}-{{$index}}-review">{{checkbox}}</label>
                </span>
            </div>

        </div>
    </div>
    <div ng-if="t === 's-checkbox'">
        <span ng-repeat="checkbox in checkboxes">
            <input
                id="{{checkboxid}}-{{$index}}"
                type="radio"
                ng-model="content.stringO"
                ng-value="checkbox"
                ng-change="sCheckboxChange()"
                ng-click="uncheck($event)"
                ng-disabled="!fe"
            >
            <label for="{{checkboxid}}-{{$index}}">{{checkbox}}</label>
            <input type='text' ng-class="{editableBox:fe, unEditableBox:!fe}" contenteditable="{{fe}}"
                   ng-if="content.stringO === checkbox && checkbox !== 'Other'" ng-model="content.addon"
                   placeholder="{{ph}}"/>
            <input type='text' ng-class="{editableBox:fe, unEditableBox:!fe}" contenteditable="{{fe}}"
                   ng-if="content.stringO === checkbox && checkbox === 'Other'" ng-model="content.addon"/>
        </span>
    </div>
</div>
