<div class="drugs">
        <h3 class="headerStyle">Curated Drugs</h3>
        <div ng-if="drugList!==undefined">
            <table class="table" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns">
                <thead>
                <tr class="dashedHeader">
                    <th>Name</th>
                    <th>NCI Thesaurus Code</th>
                    <th>Description</th>
                    <th>Information</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="drug in drugList">
                    <td ng-init="editDrugName=false">
                        <div ng-show="editDrugName===false">
                            <button type="button" class="btn btn-danger buttonStyle" ng-click="removeDrug(drug)" uib-tooltip-placement="top" uib-tooltip="Delete drug"><i class="fa fa-remove"></i>
                            </button>
                            <button type="button" class="btn btn-warning buttonStyle " uib-tooltip-placement="top" uib-tooltip="Modify Name" ng-click="editDrugName=!editDrugName"><i class="fa fa-edit"></i>
                            </button>
                            {{ drug.drugName}}
                        </div>
                        <div ng-show="editDrugName===true">
                            <button type="button" class="btn btn-danger buttonStyle" ng-click="removeDrug(drug)" uib-tooltip-placement="top" uib-tooltip="Delete drug"><i class="fa fa-remove"></i></button>
                            <button type="button" class="btn btn-success buttonStyle" uib-tooltip-placement="top" uib-tooltip="Save Name" ng-click="saveDrugName(newDrugName, drug);editDrugName=!editDrugName"><i class="fa fa-check"></i>
                            </button>
                            <input type="text" ng-model="newDrugName" placeholder="{{drug.drugName}}" uib-typeahead="name for name in drug.synonyms" typeahead-min-length="0"/>
                        </div>
                    </td>
                    <td>{{ drug.ncitCode }}</td>
                    <td>{{ drug.description }}</td>
                    <td>{{ drug.information }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="drugList===undefined">
            <p class="errorReminderXL">The page is unavailable now.</p>
        </div>
        <div class="form-inline">
            <input type="text" class="form-control searchbox" ng-model="suggestedDrug" uib-typeahead="drug as drug.drugName for drug in processSearchDrugs($viewValue)" typeahead-min-length="1" typeahead-template-url="drugsDropdown.html"/>
            <select chosen
                    ng-model="preferName"
                    data-placeholder="Choose a prefer name"
                    ng-hide="(suggestedDrug == null) || (suggestedDrug === '')"
                    class="form-control searchbox"
                    data-placeholder="Prefer Name"
                    ng-options="synonyms for synonyms in suggestedDrug.synonyms"
                    style="width: 500px">
                <option value="suggetedDrug.drugName"></option>
            </select>

            <button class="btn btn-success" ng-click="addDrug(suggestedDrug, preferName)">Add Drug</button>
            <div>{{addDrugMessage}}</div>
        </div>
        <p class="errorReminder" ng-show="searchDrugsError">Sorry, suggested drugs are unavailable now.</p>
</div>

<script type="text/ng-template" id="drugsDropdown.html">
    <a class="drugsDropdown">
        <div class="basicName" ng-bind-html="match.model.drugName | uibTypeaheadHighlight:query"></div>
        <div class="alsoKnownAs">Also known as:
            <span ng-bind-html="match.model.synonyms | uibTypeaheadHighlight:query"></span>
        </div>
        <!--add-->
        <div class="alsoKnownAs">Code:
            <span ng-bind-html="match.model.ncitCode | uibTypeaheadHighlight:query"></span>
        </div>
    </a>
</script>
