<div class="geneMainDiv" ng-if="!status.rendering" ng-style="geneMainDivStyle">
  <div id="gene" style="margin-bottom:50px">
    <h2>
      <span>Gene: {{::gene.name}}</span>
      <span class="btn-group btn-group-sm" uib-dropdown>
        <button type="button" class="btn btn-default" ng-click="releaseGene()"ng-if="me.admin && internal && status.geneReleased === 'no'">
            <span ng-show="status.releasingGene"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-show="!status.releasingGene">Release Gene</span>
        </button>
        <button type="button" class="btn btn-default" ng-click="removeGeneFromDB()" ng-if="developerCheck() && internal && status.geneReleased === 'yes'" >
            <span ng-show="status.removingGene"><i class="fa fa-spinner fa-spin"></i></span>
            <span ng-show="!status.removingGene">Remove Gene From DB</span>
        </button>
      </span>
      <span ng-show="!reviewMode"><comments-dict key="'name'" path="getObservePath({type: 'gene'})"></comments-dict></span>
      <span ng-repeat="collaborator in collaborators">
        <img style="height:30px" ng-src="{{collaborator.photoURL}}" uib-tooltip-placement="top" uib-tooltip="{{::collaborator.name}}">
      </span>
      <span class="geneLastModify">Last edit was made on {{geneMeta.lastModifiedAt | date : 'MMM d, h:mm a yyyy'}} by {{geneMeta.lastModifiedBy}}.</span>
      <span ng-if="me.admin && geneMeta.lastSavedAt" class="geneLastModify">Last update to database was made on {{geneMeta.lastSavedAt  | date : 'MMM d, h:mm a'}} by {{geneMeta.lastSavedBy}}</span>
      <span ng-if="geneMeta.review.currentReviewer" class="geneLastModify" style="color:red">{{geneMeta.review.currentReviewer}} is reviewing this gene</span>
      <span class="btn-group btn-group-sm pull-right top-tools-menu" uib-dropdown>
        <button type="button" class="btn btn-default" ng-if="::(me.admin && internal)"
                ng-disabled="!fileEditable || !setting.enableReview"
                ng-click="review()">{{reviewMode ? 'Review Complete' : 'Review'}}</button>
        <button type="button" class="btn btn-default" ng-if="developerCheck()" ng-click="exitReview()">Exit Review</button>
        <button type="button" class="btn btn-default" ng-click="getAllCitations()">Citations</button>
        <!-- <button type="button" class="btn btn-default" ng-click="getData()">Get Data</button> -->
        <button type="button" class="btn btn-default" ng-click="generatePDF()">Download PDF</button>
      </span>
    </h2>
    <div ng-if="meta.gene" class="subtitle subtitle-1">
      <span class="entrezGene" ng-if="meta.gene.entrezGeneId > 0">Entrez Gene: {{::meta.gene.entrezGeneId}}
        <a target="_blank" ng-href="https://www.ncbi.nlm.nih.gov/gene/?term={{::meta.gene.entrezGeneId}}">
          <i class="fa fa-external-link"></i>
        </a>
      </span>
      <div ng-if="meta.gene.geneAliases && meta.gene.geneAliases.length > 0">
        <span class="header">Also known as</span>
        <span ng-repeat="alias in meta.gene.geneAliases" class="alias-item">{{::alias}}
          <a target="_blank" ng-href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{::alias}}">
            <i class="fa fa-external-link"></i>
          </a>
          <span ng-if="!$last" class="comma">,</span>
        </span>
      </div>
    </div>
    <div ng-show="!reviewMode" class="subtitle subtitle-2">Transcript: {{::gene.isoform_override}}, {{::gene.dmp_refseq_id}}
    </div>
    <div ng-if="reviewMode">
      <br/>
      <br/>
      <p style="color:red;font-size:20px;">
        <b>You are currently in "Review" mode. Click the "Review Complete" button to exit.</b>
      </p>
      <span class="btn-group">
        <button type="button" class="btn btn-default" ng-click="acceptChangesByPerson(x)" ng-disabled="isNoReviewItems(x) || status[x].savingAll"
          ng-repeat="x in namesWithChanges" ng-bind-html="getButtonContent(x)"></button>
      </span>
    </div>
    <div ng-show="displayPrecisely(gene.summary_uuid)">
      <h3>Summary:
        <span ng-show="!reviewMode"><comments-dict key="'summary'" path="getObservePath({type: 'gene'})"></comments-dict></span>
        <review-panel hugo-symbol="gene.name" evidence-type="'GENE_SUMMARY'" obj="gene" get-evidence="getEvidence(type)" model-update="modelUpdate(type)"
        uuid="getUUID({type: 'gene', key: 'summary'})" review-obj="gene.summary_review"></review-panel>
      </h3>
      <realtime-string t="'p'" key="'summary'" path="getObservePath({type: 'gene'})" uuid="getUUID({type: 'gene', key: 'summary'})"></realtime-string>
    </div>
    <div ng-show="displayCheck(gene.type_uuid)">
           <h3 ng-if="reviewMode">Gene Type:
               <review-panel uuid="gene.type_uuid" review-obj="gene.type_review" evidence-type="'GENE_TYPE'" obj="gene" get-evidence="getEvidence(type)" model-update="modelUpdate(type)"></review-panel>
           </h3>
           <realtime-string key="'tsg'" path="getObservePath({type: 'geneType'})" review-obj="gene.type_review" uuid="::gene.type.tsg_uuid" fe="geneEditable" t="'checkbox'" object="gene.type" objecttype="'object'" objectkey="'tsg'" checkboxes="checkboxes['TSG']" checkboxid="'TSG'"></realtime-string>
           <div style="margin-top:-25px;margin-left:150px">
              <realtime-string key="'ocg'" path="getObservePath({type: 'geneType'})" review-obj="gene.type_review" uuid="::gene.type.ocg_uuid" fe="geneEditable" t="'checkbox'" object="gene.type" objecttype="'object'" objectkey="'ocg'" checkboxes="checkboxes['OCG']" checkboxid="'OCG'"></realtime-string>
           </div>
      </div>
    <div ng-show="displayPrecisely(gene.background_uuid)">
      <br/>
      <br/>
      <h3>Background:
        <span ng-show="!reviewMode"><comments-dict key="'background'" path="getObservePath({type: 'gene'})"></comments-dict></span>
        <review-panel hugo-symbol="gene.name" uuid="gene.background_uuid" review-obj="gene.background_review" evidence-type="'GENE_BACKGROUND'" obj="gene"
          get-evidence="getEvidence(type)" model-update="modelUpdate(type)"></review-panel>
      </h3>
      <realtime-string t="'p'" key="'background'" path="getObservePath({type: 'gene'})" uuid="getUUID({type: 'gene', key: 'background'})"></realtime-string>
    </div>
    <div ng-if="gene.name && !reviewMode">
      <table class="table geneLinks">
        <tbody>
          <tr>
            <td>cBioPortal link: </td>
            <td>
              <a href="https://cbioportal.mskcc.org/ln?q={{::gene.name}}" target="_blank">https://cbioportal.mskcc.org/ln?q={{::gene.name}}</a>
            </td>
          </tr>
          <tr>
            <td>COSMIC link: </td>
            <td>
              <a href="http://cancer.sanger.ac.uk/cosmic/gene/overview?ln={{::gene.name}}" target="_blank">http://cancer.sanger.ac.uk/cosmic/gene/overview?ln={{::gene.name}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="mutations">
    <div ng-repeat="mutation in mutations" ng-init="path=getObservePath({type: 'mutation', index: $index});" ng-show="displayCheck(mutation.name_uuid, mutation.name_review)">
      <div class="sectionStyle">
        <div ng-style="movingInfo[mutation.name_uuid]" ng-class="getMutationPanelClass(mutation.name)">
          <div ng-click="toggleSection(mutation.name_uuid); setSectionOpenStatus('open', [mutation.mutation_effect_uuid])">
            <i ng-class="getAngleClass(mutation.name_uuid)"></i> Mutation:</div>
          <div style="margin-top:-42px;margin-left:100px">
            <div ng-style="getNameStyle('mutation')"><realtime-string t="'MUTATION_NAME'" key="'name'" path="path" uuid="getUUID({type: 'mutation', key: 'name', path: path})"></realtime-string></div>
            <div style="float:left;" ng-class="mutation.name.length > 80 ? 'levelWithLongName' : 'levelWithoutLongName'" ng-show="!reviewMode">
              <comments-dict key="'name'" path="path"></comments-dict>
              <span style="margin-right:10px" ng-bind-html="mutationContent[mutation.name_uuid].result"></span>
                <span class="curationNoEntry" ng-if="isEmptySection(mutation, 'mutation')">No Entry</span>
            </div>
            <div ng-show="!reviewMode" style="margin-top:-30px">
              <span style="float:right">
                  <span ng-show="!reviewMode && me.admin && fileEditable">
                      <i class="fa fa-arrows" uib-tooltip-placement="top" uib-tooltip="{{movingInfo.message}}" ng-show="displayMoveIcon('mutation', 'initial', mutation.name_uuid)" style="margin-right:10px;" ng-style="movingInfo.style" ng-click="startMoving('mutation', path, mutation.name_uuid, $index)"></i>
                      <i class="fa fa-arrows" uib-tooltip-placement="top" uib-tooltip="Click to put above this mutation" ng-show="displayMoveIcon('mutation', 'up', mutation.name_uuid, $index)" style="margin-right:10px;color:green" ng-click="endMoving(path, 'up')"></i>
                  </span>
                  <span ng-show="!reviewMode && fileEditable">
                      <i ng-click="remove('mutation', path)" class="fa fa-trash-o"></i>
                  </span>
              </span>
            </div>
            <div style="margin-top:-20px;margin-bottom:20px">
                <review-panel hugo-symbol="gene.name" uuid="mutation.name_uuid" review-obj="mutation.name_review" evidence-type="'mutation'" mutation="mutation" get-evidence="getEvidence(type, mutation)" model-update="modelUpdate(type, mutation)"
                              accept-added="acceptAdded(type, mutation, tumor, ti, treatment, updatedBy)" reject-added="rejectAdded(type, mutation, tumor, ti, treatment, updatedBy)"
                              confirm-delete="confirmDelete(type, mutation, tumor, ti, treatment, updatedBy)" cancel-delete="cancelDelete(type, mutation, tumor, ti, treatment, updatedBy)" get-refs="getRefs(mutation)"></review-panel>
            </div>

          </div>
        </div>
        <div class="panelContent" ng-if="initialOpen[mutation.name_uuid]" id="{{mutation.name_uuid}}">
          <div class="sectionStyle" ng-init="bindTumors({uuid: mutation.name_uuid, path: path});getTumorContent(mutation);effectPath=getObservePath({type: 'mutation_effect', path: path});" ng-show="displayCheck(mutation.mutation_effect_uuid, mutation.name_review)">
            <div class="headerLevel2">
              <span ng-click="toggleSection(mutation.mutation_effect_uuid)"><i ng-class="getAngleClass(mutation.mutation_effect_uuid)"></i> Mutation Effect</span>
              <span class="curationNoEntry" ng-if="isEmptySection(mutation.mutation_effect, 'mutation_effect')">No Entry</span>
              <span style="float:right" ng-show="!reviewMode"><comments-dict key="'mutation_effect'" path="path"></comments-dict></span>
              <review-panel hugo-symbol="gene.name" uuid="mutation.mutation_effect_uuid" review-obj="mutation.oncogenic_review" evidence-type="'MUTATION_EFFECT'" mutation="mutation" get-evidence="getEvidence(type, mutation)" model-update="modelUpdate(type, mutation)" get-refs="getRefs(mutation)"></review-panel>
            </div>
            <div class="panelContent" id="{{mutation.mutation_effect_uuid}}">
              <p ng-show="displayPrecisely(mutation.mutation_effect.oncogenic_uuid)">
                <strong style="float: left">Oncogenic:</strong>
                <realtime-string t="'checkbox'" key="'oncogenic'" path="effectPath" checkboxes="checkboxes['oncogenic']" uuid="getUUID({type: 'mutation_effect', key: 'oncogenic', path: path})"></realtime-string>
              </p>
              <div class="mutationEffect" ng-show="displayPrecisely(mutation.mutation_effect.effect_uuid)">
                <strong class="header">Mutation effect:</strong>
                <div>
                  <realtime-string t="'checkbox'" key="'effect'" path="effectPath" checkboxes="checkboxes['mutationEffect']" uuid="getUUID({type: 'mutation_effect', key: 'effect', path: path})"></realtime-string>
                </div>
              </div>
              <br/>
              <span ng-show="displayPrecisely(mutation.mutation_effect.description_uuid)">
                <strong>Description of Evidence:</strong>
                <br/>
                <realtime-string t="'p'" key="'description'" path="effectPath" uuid="getUUID({type: 'mutation_effect', key: 'description', path: path})"></realtime-string>
              </span>
              <span ng-show="!reviewMode">
                <strong>Additional Information (Optional):</strong>
                <br/>
                <realtime-string t="'p'" key="'short'" path="effectPath"></realtime-string>
              </span>
            </div>
          </div>
          <div ng-repeat="tumor in tumorsByMutation[mutation.name_uuid]" class="accordionMarginTop" ng-init="path=getObservePath({path: path, type: 'tumor', index: $index});" ng-show="displayCheck(tumor.cancerTypes_uuid, tumor.cancerTypes_review)">
            <div class="sectionStyle">
              <div ng-style="movingInfo[tumor.cancerTypes_uuid]" class="headerLevel2">
                <span ng-click="toggleSection(tumor.cancerTypes_uuid)">
                  <i ng-class="getAngleClass(tumor.cancerTypes_uuid)"></i>
                    <span>Tumor type: </span>
                    <span ng-if="reviewContentDisplay(tumor.cancerTypes_uuid, true)">
                        <br/>
                        <p>New Content: </p>
                    </span>
                    <span>{{getCancerTypesNameInReview(tumor, tumor.cancerTypes_uuid, reviewMode)}}</span>
                </span>
                <span ng-show="!reviewMode">
                    <i class="fa fa-edit" ng-if="fileEditable" ng-click="modifyTumorType(mutation, tumor, path)"></i>
                    <span style="margin-left:5px"><comments-dict key="'cancerTypes'" path="path"></comments-dict></span>
                    <span style="margin-left:5px" ng-bind-html="tumorContent[tumor.cancerTypes_uuid].result"></span>
                    <span style="float:right" ng-if="fileEditable">
                        <span ng-if="me.admin">
                          <i class="fa fa-arrows" uib-tooltip-placement="top" uib-tooltip="{{movingInfo.message}}" ng-show="displayMoveIcon('tumor', 'initial', tumor.cancerTypes_uuid)" style="margin-right:10px;" ng-style="movingInfo.style" ng-click="startMoving('tumor', path, tumor.cancerTypes_uuid, $index)"></i>
                          <i class="fa fa-arrows" uib-tooltip-placement="top" uib-tooltip="Click to put above this tumor" ng-show="displayMoveIcon('tumor', 'up', tumor.cancerTypes_uuid, $index)" style="margin-right:10px;color:green" ng-click="endMoving(path, 'up')"></i>
                        </span>
                        <span>
                            <i ng-click="remove('tumor', path)" class="fa fa-trash-o"></i>
                        </span>
                    </span>
                </span>
                  <span ng-if="reviewContentDisplay(tumor.cancerTypes_uuid, true)">
                        <p style="margin-top:10px;">Old Content: </p>
                        <span>{{getLastReviewedCancerTypesName(tumor)}}</span>
                    </span>
                <div style="margin-top:-20px;margin-bottom:20px">
                    <review-panel hugo-symbol="gene.name" uuid="tumor.cancerTypes_uuid" review-obj="tumor.cancerTypes_review" evidence-type="'tumor'" mutation="mutation" tumor="tumor" get-evidence="getEvidence(type, mutation, tumor)" model-update="modelUpdate(type, mutation, tumor)"
                                  confirm-delete="confirmDelete(type, mutation, tumor, ti, treatment, updatedBy)" cancel-delete="cancelDelete(type, mutation, tumor, ti, treatment, updatedBy)" get-refs="getRefs(mutation, tumor, ti, treatment)"
                                  accept-added="acceptAdded(type, mutation, tumor, ti, treatment, updatedBy)" reject-added="rejectAdded(type, mutation, tumor, ti, treatment, updatedBy)"></review-panel>
                </div>
              </div>
              <div class="panelContent" ng-if="initialOpen[tumor.cancerTypes_uuid]" id="{{tumor.cancerTypes_uuid}}" ng-init="bindTIs({uuid: tumor.cancerTypes_uuid, path: path})">
                  <div ng-show="displayPrecisely(tumor.summary_uuid)">
                    <h5><b>Therapeutic Summary (Optional): </b>
                        <review-panel hugo-symbol="gene.name" uuid="tumor.summary_uuid" review-obj="tumor.summary_review" evidence-type="'TUMOR_TYPE_SUMMARY'" mutation="mutation" tumor="tumor" get-evidence="getEvidence(type, mutation, tumor)" model-update="modelUpdate(type, mutation, tumor)" get-refs="getRefs(mutation, tumor)"></review-panel>
                    </h5>
                    <realtime-string t="'p'" key="'summary'" path="path" uuid="getUUID({type: 'tumor', key: 'summary', path: path})" mutation="mutation" tumor="tumor" indicate-mutation-content="indicateMutationContent(mutation)" indicate-tumor-content="indicateTumorContent(tumor)"></realtime-string>
                  </div>
                  <div ng-show="displayPrecisely(tumor.diagnosticSummary_uuid)">
                      <h5><b>Diagnostic Summary (Optional): </b>
                          <review-panel hugo-symbol="gene.name" uuid="tumor.diagnosticSummary_uuid" review-obj="tumor.diagnosticSummary_review" evidence-type="'DIAGNOSTIC_SUMMARY'" mutation="mutation" tumor="tumor" get-evidence="getEvidence(type, mutation, tumor)" model-update="modelUpdate(type, mutation, tumor)" get-refs="getRefs(mutation, tumor)"></review-panel>
                      </h5>
                      <realtime-string t="'p'" key="'diagnosticSummary'" path="path" uuid="getUUID({type: 'tumor', key: 'diagnosticSummary', path: path})" mutation="mutation" tumor="tumor" indicate-mutation-content="indicateMutationContent(mutation)" indicate-tumor-content="indicateTumorContent(tumor)"></realtime-string>
                  </div>
                  <div ng-show="displayPrecisely(tumor.prognosticSummary_uuid)">
                      <h5><b>Prognostic Summary (Optional): </b>
                          <review-panel hugo-symbol="gene.name" uuid="tumor.prognosticSummary_uuid" review-obj="tumor.prognosticSummary_review" evidence-type="'PROGNOSTIC_SUMMARY'" mutation="mutation" tumor="tumor" get-evidence="getEvidence(type, mutation, tumor)" model-update="modelUpdate(type, mutation, tumor)" get-refs="getRefs(mutation, tumor)"></review-panel>
                      </h5>
                      <realtime-string t="'p'" key="'prognosticSummary'" path="path" uuid="getUUID({type: 'tumor', key: 'prognosticSummary', path: path})" mutation="mutation" tumor="tumor" indicate-mutation-content="indicateMutationContent(mutation)" indicate-tumor-content="indicateTumorContent(tumor)"></realtime-string>
                  </div>
                <!-- Diagnostic -->
                <div class="sectionStyle" ng-init="diagnosticPath=getObservePath({type:'diagnostic', path: path});" ng-show="displayCheck(tumor.diagnostic_uuid)">
                  <div class="headerLevel3">
                    <span ng-click="toggleSection(tumor.diagnostic_uuid)">
                    <i ng-class="getAngleClass(tumor.diagnostic_uuid)"></i> Diagnostic implications:</span>
                    <span class="curationNoEntry" ng-if="isEmptySection(tumor, 'diagnostic')">No Entry</span>
                    <span ng-show="!reviewMode"><comments-dict key="'diagnostic'" path="path"></comments-dict></span>
                    <review-panel hugo-symbol="gene.name" uuid="tumor.diagnostic_uuid" review-obj="tumor.diagnostic_review" evidence-type="'DIAGNOSTIC_IMPLICATION'" mutation="mutation" tumor="tumor" get-evidence="getEvidence(type, mutation, tumor)" model-update="modelUpdate(type, mutation, tumor)" get-refs="getRefs(mutation, tumor)"></review-panel>
                  </div>
                  <div class="panelContent" ng-if="initialOpen[tumor.diagnostic_uuid]" id="{{tumor.diagnostic_uuid}}">
                    <div ng-show="displayPrecisely(tumor.diagnostic.level_uuid)">
                      <strong>Level of Evidence:</strong>
                      <br/>
                      <realtime-string key="'level'" path="diagnosticPath" t="'implication'" o="levels.diagnostic" uuid="getUUID({type: 'diagnostic', key: 'level', path: path})"></realtime-string>
                      <br/>
                    </div>
                    <div ng-show="displayPrecisely(tumor.diagnostic.description_uuid)">
                      <strong>Description of Evidence:</strong>
                      <br/>
                      <realtime-string t="'p'" key="'description'" path="diagnosticPath" uuid="getUUID({type: 'diagnostic', key: 'description', path: path})"></realtime-string>
                    </div>
                    <div ng-show="!reviewMode">
                      <strong>Additional Information (Optional):</strong>
                      <br/>
                      <realtime-string t="'p'" key="'short'" path="diagnosticPath"></realtime-string>
                    </div>
                  </div>
                </div>
                <!-- Prognostic -->
                <div class="sectionStyle" ng-init="prognosticPath=getObservePath({type:'prognostic', path: path});" ng-show="displayCheck(tumor.prognostic_uuid)">
                  <div class="headerLevel3">
                    <span ng-click="toggleSection(tumor.prognostic_uuid)"><i ng-class="getAngleClass(tumor.prognostic_uuid)"></i> Prognostic implications: </span>
                    <span class="curationNoEntry" ng-if="isEmptySection(tumor, 'prognostic')">No Entry</span>
                    <span ng-show="!reviewMode"><comments-dict key="'prognostic'" path="path"></comments-dict></span>
                    <review-panel hugo-symbol="gene.name" uuid="tumor.prognostic_uuid" review-obj="tumor.prognostic_review" evidence-type="'PROGNOSTIC_IMPLICATION'" mutation="mutation" tumor="tumor" get-evidence="getEvidence(type, mutation, tumor)" model-update="modelUpdate(type, mutation, tumor)" get-refs="getRefs(mutation, tumor)"></review-panel>
                  </div>
                  <div class="panelContent" ng-if="initialOpen[tumor.prognostic_uuid]" id="{{tumor.prognostic_uuid}}">
                    <div ng-show="displayPrecisely(tumor.prognostic.level_uuid)">
                      <strong>Level of Evidence:</strong>
                      <br/>
                      <realtime-string key="'level'" path="prognosticPath" t="'implication'" o="levels.prognostic" uuid="getUUID({type: 'prognostic', key: 'level', path: path})"></realtime-string>
                      <br/>
                    </div>
                    <div ng-show="displayPrecisely(tumor.prognostic.description_uuid)">
                      <strong>Description of Evidence:</strong>
                      <br/>
                      <realtime-string t="'p'" key="'description'" path="prognosticPath" uuid="getUUID({type: 'prognostic', key: 'description', path: path})"></realtime-string>
                    </div>
                    <div ng-show="!reviewMode">
                      <strong>Additional Information (Optional):</strong>
                      <br/>
                      <realtime-string t="'p'" key="'short'" path="prognosticPath"></realtime-string>
                    </div>
                  </div>
                </div>
                <div ng-repeat="ti in TIsByTumor[tumor.cancerTypes_uuid]" class="accordionMarginTop" ng-init="path=getObservePath({type: 'ti', path: path, index: $index});" ng-show="displayCheck(ti.name_uuid)">
                  <div class="sectionStyle">
                    <div class="headerLevel3">
                      <span ng-click="toggleSection(ti.name_uuid)"><i ng-class="getAngleClass(ti.name_uuid)"></i> {{::ti.name}}:</span>
                      <span class="curationNoEntry" ng-if="isEmptySection(ti, 'ti')">No Entry</span>
                      <span ng-show="!reviewMode"><comments-dict key="'name'" path="path"></comments-dict></span>
                    </div>
                    <div class="panelContent" ng-if="initialOpen[ti.name_uuid]" id="{{ti.name_uuid}}" ng-init="bindTreatments({uuid: ti.name_uuid, path: path})">
                      <div ng-repeat="treatment in treatmentsByII[ti.name_uuid]" ng-init="path=getObservePath({type: 'treatment', path: path, index: $index});" ng-show="displayCheck(treatment.name_uuid, treatment.name_review)">
                        <div class="sectionStyle">
                          <div ng-style="movingInfo[treatment.name_uuid]" class="headerLevel4">
                            <div ng-click="toggleSection(treatment.name_uuid)"><i ng-class="getAngleClass(treatment.name_uuid)"></i> Therapy:</div>
                              <div style="margin-left:90px;margin-top:-22px;overflow: hidden">
                                  <div ng-style="getNameStyle()">
                                      <realtime-string t="'TREATMENT_NAME'" key="'name'" path="path"
                                                       uuid="getUUID({type: 'treatment', key: 'name', path: path})"></realtime-string>
                                  </div>
                                  <span>
                                  <div style="float:left;margin-left:10px;" ng-show="!reviewMode">
                                      <comments-dict key="'name'" path="path"></comments-dict>
                                      <span class="curationNoEntry" ng-if="isEmptySection(treatment, 'treatment')">No Entry</span>
                                  </div>
                                  <i class="fa fa-edit ng-scope" style="margin-top: 5px; margin-left: 5px"
                                     ng-show="fileEditable" ng-click="modifyTherapy(path)"></i>
                                  </span>

                              <span style="float:right" ng-show="!reviewMode && fileEditable">
                                  <span ng-if="me.admin && internal">
                                      <i class="fa fa-arrows" uib-tooltip-placement="top" uib-tooltip="{{movingInfo.message}}"  ng-show="displayMoveIcon('treatment', 'initial', treatment.name_uuid)" style="margin-right:10px;" ng-style="movingInfo.style" ng-click="startMoving('treatment', path, treatment.name_uuid, $index)"></i>
                                      <i class="fa fa-arrows" uib-tooltip-placement="top" uib-tooltip="Click to put above this treatment" ng-show="displayMoveIcon('treatment', 'up', treatment.name_uuid, $index)" style="margin-right:10px;color:green" ng-click="endMoving(path, 'up')"></i>
                                  </span>
                                  <span><i ng-click="remove('treatment', path)" class="fa fa-trash-o"></i></span>
                              </span>
                            </div>
                            <div style="margin-top:-45px;margin-bottom:45px;">
                                  <review-panel hugo-symbol="gene.name" uuid="treatment.name_uuid" review-obj="treatment.name_review" evidence-type="ti.name" mutation="mutation"
                                    tumor="tumor" therapy-category="ti" treatment="treatment" get-evidence="getEvidence(type, mutation, tumor, ti, treatment)"
                                    model-update="modelUpdate(type, mutation, tumor, ti, treatment)" confirm-delete="confirmDelete(type, mutation, tumor, ti, treatment, updatedBy)"
                                    cancel-delete="cancelDelete(type, mutation, tumor, ti, treatment, updatedBy)" accept-added="acceptAdded(type, mutation, tumor, ti, treatment, updatedBy)"
                                    reject-added="rejectAdded(type, mutation, tumor, ti, treatment, updatedBy)" update-drug-map="updateDrugMap(decision, type, dataType, mutation, tumor, treatment, oldContent)" update-priority="updatePriority(treatments)" get-refs="getRefs(mutation, tumor, ti, treatment)"></review-panel>
                            </div>
                          </div>
                          <div class="panelContent" ng-if="initialOpen[treatment.name_uuid]" id="{{treatment.name_uuid}}">
                            <div ng-show="displayPrecisely(treatment.level_uuid) || displayPrecisely(treatment.propagation_uuid)">
                              <strong>Highest level of evidence:</strong>
                              <div ng-switch on="ti.type">
                                <div ng-switch-when="SS">
                                  <realtime-string key="'level'" path="path" t="'treatment-select'" o="levels.SS" uuid="getUUID({type: 'treatment', key: 'level', path: path})" mutation="mutation" tumor="tumor" indicate-mutation-content="indicateMutationContent(mutation)" indicate-tumor-content="indicateTumorContent(tumor)"></realtime-string>
                                </div>
                                <div ng-switch-when="SR">
                                  <realtime-string key="'level'" path="path" t="'treatment-select'" o="levels.SR" uuid="getUUID({type: 'treatment', key: 'level', path: path})" mutation="mutation" tumor="tumor" indicate-mutation-content="indicateMutationContent(mutation)" indicate-tumor-content="indicateTumorContent(tumor)"></realtime-string>
                                  <div ng-show="!reviewMode" style="float:right;margin-right:180px;margin-top:-25px"><i class="fa fa-question-circle" style="color: grey;" uib-tooltip-html="levelExps.SR"></i></div>
                                </div>
                                <div ng-switch-when="IS">
                                  <realtime-string key="'level'" path="path" t="'treatment-select'" o="levels.IS" uuid="getUUID({type: 'treatment', key: 'level', path: path})" mutation="mutation" tumor="tumor" indicate-mutation-content="indicateMutationContent(mutation)" indicate-tumor-content="indicateTumorContent(tumor)"></realtime-string>
                                </div>
                                <div ng-switch-when="IR">
                                  <realtime-string key="'level'" path="path" t="'treatment-select'" o="levels.IR" uuid="getUUID({type: 'treatment', key: 'level', path: path})" mutation="mutation" tumor="tumor" indicate-mutation-content="indicateMutationContent(mutation)" indicate-tumor-content="indicateTumorContent(tumor)"></realtime-string>
                                  <div ng-show="!reviewMode" style="float:right;margin-right:180px;margin-top:-25px"><i class="fa fa-question-circle" style="color: grey;" uib-tooltip-html="levelExps.IR"></i></div>
                                </div>
                              </div>
                            </div>
                            <div ng-show="displayPrecisely(treatment.indication_uuid)">
                              <strong>FDA approved indications:</strong>
                              <br/>
                              <realtime-string t="'p'" key="'indication'" path="path" uuid="getUUID({type: 'treatment', key: 'indication', path: path})"></realtime-string>
                            </div>
                            <div ng-show="displayPrecisely(treatment.description_uuid)">
                              <strong>Description of Evidence:</strong>
                              <br/>
                              <realtime-string t="'p'" key="'description'" path="path" uuid="getUUID({type: 'treatment', key: 'description', path: path})"></realtime-string>
                            </div>
                            <div ng-show="!reviewMode">
                              <strong>Additional Information (Optional):</strong>
                              <br/>
                              <realtime-string t="'p'" key="'short'" path="path"></realtime-string>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div ng-click="initTherapyComponent(path)" ng-show="!reviewMode && fileEditable" class="input-group input-group-sm accordionMarginTop">
                          <add-therapy ti-ref="tiRef" modify-name="modifyName" save-therapies-callback="saveTherapiesCallback(newTreatmentName)"></add-therapy>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="width: 100%; margin: 0 5px" class="input-group input-group-sm accordionMarginTop" ng-show="!reviewMode">
                <h4>Add tumor type(s)</h4>
                <hr/>
                <div class="add-tumor-type-item" ng-repeat="cancerType in meta.newCancerTypes">
                    Cancer Type: <select chosen
                                       allow-single-deselect="true"
                                       data-placeholder="Choose a main tumor type"
                                       no-results-text="'Could not find any'"
                                       ng-model="cancerType.mainType"
                                       ng-disabled = "!fileEditable"
                                       ng-options="tt.name for tt in oncoTree.mainTypes | orderBy: 'name'"
                                       ng-change="subIsSameWithMain(cancerType, 'main')">
                    <option value=""></option>
                </select>
                    Subtype:
                    <select chosen
                            data-placeholder="Choose a tumor type"
                            no-results-text="'Could not find any'"
                            allow-single-deselect="true"
                            ng-model="cancerType.subtype"
                            ng-disabled = "!fileEditable"
                            ng-options="tt.name for tt in cancerType.oncoTreeTumorTypes | orderBy: 'name' track by tt.code"
                            ng-change="subIsSameWithMain(cancerType, 'sub')">
                        <option value=""></option>
                    </select>
                    <span style="color:orange">{{ cancerType.message }}</span>
                </div>
                <button type="button" class="btn btn-default btn-sm"
                        ng-disabled="emptyTT()"
                        ng-click="addTumorType($index)">
                    Add Tumor Type(s)
                </button>
          </div>
        </div>
      </div>
    </div>
    <div class="input-group input-group-sm accordionMarginTop" style="float:left" ng-show="!reviewMode && fileEditable">
      <input type="text" class="form-control" ng-model="newMutationName" placeholder="{{::addMutationPlaceholder}}" uib-typeahead="suggestedMutation for suggestedMutation in suggestedMutations | filter:$viewValue:stateComparator"
        empty-typeahead ng-click="opened=!opened" focus-me="opened" ng-focus="onFocus($event)" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-disabled="!(!!newMutationName)" ng-click="addMutation(newMutationName); newMutationName=''">
          <i class="fa fa-plus"></i> Add Mutation
        </button>
      </span>
    </div>
  </div>
  <div ng-show="!reviewMode" id="vus">
    <br/>
    <br/>
    <h3>Variants of Unknown Significance (Investigated and data not found)
      <button class="btn btn-default btn-sm" ng-click="vusUpdate()" ng-if="developerCheck() && internal">Update to database</button>
    </h3>
    <div ng-repeat="variant in vusItems">
        <div class="input-group  input-group-sm vusGroup">
            <span class="input-group-addon" ng-class="getVUSClass(variant.time.value)" qtip type="vusItem" time="variant.time.value" by="variant.time.by.name">{{::variant.name}}</span>
            <span class="input-group-btn" ng-show="fileEditable">
                <button class="btn btn-default" type="button" style="text-align:left">
                    <comments-dict key="'name'" path="getObservePath({type: 'vus', variant: variant})"></comments-dict>
                </button>
                <button class="btn btn-default"
                        type="button" ng-click="refreshVUS(variant)" qtip content="Recheck: set the date to today">
                    <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-default" type="button" ng-click="removeVUS(variant)">
                    <i class="fa fa-trash-o"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="input-group input-group-sm vusGroup">
      <input type="text" class="form-control" ng-model="newVUSName" placeholder="Variant Name" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-disabled="!(!!newVUSName)" ng-click="addVUSItem(newVUSName); newVUSName=''">
          <i class="fa fa-plus"></i> Add Variant
        </button>
      </span>
    </div>
  </div>
  <div ng-show="!reviewMode" style="margin-top:100px">
    <curation-queue specify-annotation="specifyAnnotation()" location="'gene'" hugo-symbol="gene.name"></curation-queue>
  </div>
</div>
<div ng-hide="status.rendering" class="floatToolBox btn-group btn-group-sm" role="group">
  <span class="btn btn-default" style="opacity: 1" disabled>{{ ::gene.name}}</span>
  <button type="button" class="btn btn-default" ng-click="generatePDF()">Download PDF</button>
  <button type="button" class="btn btn-default" ng-if="developerCheck() && internal" ng-click="updateGene()">
    <span ng-show="!status.savedGene"><i class="fa fa-spinner fa-spin"></i></span>
    <span ng-show="status.savedGene">Update gene</span>
  </button>
</div>
<loading ng-model="status.rendering" content="Please wait, we are loading gene information."></loading>
