<div class="ieWarning" ng-show="isIE || isUnknown">
  <div class="container">
    <i style="color:yellow" class="fa fa-exclamation-triangle"></i>
    <span ng-show="isIE">
      You are using Internet Explorer which has not yet been supported. We recomment using <b>Google Chrome, Firefox or Safari to visit this web site.</b>
    </span>
    <span ng-show="isUnknown">
      You browser has not yet been supported. We recomment using <b>Google Chrome, Firefox or Safari to visit this web site.</b>
    </span>
  </div>
</div>