<div>
    <div ng-switch on="inReviewMode()">
        <div ng-switch-when="false">
            <div ng-switch on="t">
                <div ng-switch-when="p">
                    <p ng-if="!fe && editingMessage" style="font-style:italic;margin-top:-30px;margin-left:30%;color:orange">{{editingMessage}}</p>
                    <p contenteditable="{{fe}}"
                        ng-class="getInputClass()"
                        ng-model="data[key]"
                        ng-paste="trimCSS()"
                        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }">
                     </p>
                    <pub-iframe
                            ng-model="pContent">
                    </pub-iframe>
                </div>
                <!--Seperate Mutation_Name & Treatment_Name here. We may need to recombine them in the future.
                    <div ng-switch-when="MUTATION_NAME|TREATMENT_NAME" ng-switch-when-seperator="|">
                -->
                <div ng-switch-when="MUTATION_NAME">
                    <p ng-if="!fe && editingMessage" style="font-style:italic;margin-top:-30px;margin-left:30%;color:orange">{{editingMessage}}</p>
                    <p contenteditable="{{fe}}"
                        ng-class="getInputClass()"
                        ng-model="data[key]"
                        ng-click="setTrackSignal()"
                        ng-paste="trimCSS()"
                        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }"
                        class="editEmpty">
                    </p>
                    <!-- <span style="color:red">{{getDuplicationMessage()}}</span> -->
                    <!-- <br/> -->
                </div>
                <div ng-switch-when="TREATMENT_NAME">
                    <p ng-if="!fe && editingMessage" style="font-style:italic;margin-top:-30px;margin-left:30%;color:orange">{{editingMessage}}</p>
                    <p contenteditable="false"
                       ng-class="getInputClass()"
                       ng-click="setTrackSignal()"
                       ng-paste="trimCSS()"
                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }"
                       class="editEmpty">{{uuidtoName(data[key])}}
                    </p>
                </div>
                <div ng-switch-when="treatment-select" class="chosen-full-width">
                    <div style="margin-top:10px;margin-bottom:10px">
                        <select ng-disabled="!fe"
                            chosen allow-single-deselect="true"
                            ng-model="data[key]"
                            ng-options="opt.value as opt.label for opt in o">
                            <option value="NA"></option>
                        </select>
                    </div>
                    <div ng-if="content.propagationOpts.length > 0" style="margin-bottom:10px">
                        <span>Level of Evidence in other tumor types: </span>
                        <select ng-disabled="!fe"
                            chosen allow-single-deselect="true"
                            ng-model="data.propagation"
                            ng-options="opt.value as opt.name for opt in content.propagationOpts">
                            <option value="NA"></option>
                        </select>
                    </div>
                </div>
                <div ng-switch-when="implication" class="chosen-full-width">
                    <select ng-disabled="!fe"
                            chosen allow-single-deselect="true"
                            ng-model="data[key]"
                            ng-options="opt.value as opt.label for opt in o">
                        <option disabled></option>
                    </select>
                </div>
                <div ng-switch-when="select-chosen" class="chosen-full-width">
                    <select ng-disabled="!fe"
                            chosen allow-single-deselect="true"
                            ng-model="data[key]"
                            ng-options="opt for opt in o">
                        <option value="NA"></option>
                    </select>
                </div>
                <div ng-switch-when="checkbox">
                    <div>
                        <span ng-repeat="checkbox in checkboxes">
                            <input id="::{{uuid+$index}}"
                                  type="radio"
                                  ng-model="data[key]"
                                  ng-value="checkbox"
                                  ng-disabled="!fe"
                                  ng-click="uncheck($event)">
                            <label for="::{{uuid+$index}}">{{checkbox}}</label>
                        </span>
                    </div>
                </div>
                <div ng-switch-default></div>
            </div>
        </div>
        <div ng-switch-when="true">
            <div ng-switch on="t">
                <div ng-switch-when="p">
                    <h4 ng-if="reviewLayout('regular')">New Content:</h4>
                    <p contenteditable="{{reviewContentEditable('regular')}}"
                       ng-class="getInputClass()"
                       ng-model="data[key]"
                       ng-paste="trimCSS()"
                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }">
                    </p>
                    <div ng-if="reviewLayout('regular')">
                        <h4>Difference comparing to the old content:</h4>
                        <p ng-bind-html="diffHTML"></p>
                    </div>
                    <pub-iframe
                            ng-model="data[key]">
                    </pub-iframe>
                </div>
                <div ng-switch-when="MUTATION_NAME|TREATMENT_NAME" ng-switch-when-separator="|">
                    <h4 ng-if="reviewLayout('name')">New Content:</h4>
                    <p contenteditable="{{reviewContentEditable('regular')}}"
                          ng-class="editableBox"
                          ng-model="data[key]"
                          ng-paste="trimCSS()"
                          ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }"
                          class="editEmpty">
                    </p>
                    <div ng-if="reviewLayout('name')" ng-class="getOldContentDivClass(data[key])">
                        <h4>Old Content:</h4>
                        <p ng-class="getOldContentClass(data[key+'_review'].lastReviewed)" contenteditable="false" >{{::data[key+'_review'].lastReviewed}}</p>
                    </div>
                </div>
                <div ng-switch-when="treatment-select" class="chosen-full-width">
                    <h4 ng-if="reviewLayout('regular') && data[key+'_review'].lastReviewed">New Content:</h4>
                    <select ng-disabled="!reviewContentEditable('regular')"
                            chosen allow-single-deselect="true"
                            ng-model="data[key]"
                            ng-options="opt.value as opt.label for opt in o">
                        <option value="NA"></option>
                    </select>
                    <div ng-if="reviewLayout('regular') && data[key+'_review'].lastReviewed">
                        <h4>Old Content:</h4>
                        <select ng-disabled="true"
                                chosen
                                ng-model="data[key+'_review'].lastReviewed"
                                ng-options="opt.value as opt.label for opt in o">
                            <option value="NA"></option>
                        </select>
                    </div>
                    <div style="margin-top:10px;">
                        <strong>Level of Evidence in other tumor types: </strong>
                        <h4 ng-if="reviewLayout('regular') && data.propagation_review.lastReviewed">New Content:</h4>
                        <div>
                            <select ng-disabled="!reviewContentEditable('regular')"
                                    chosen allow-single-deselect="true"
                                    ng-model="data.propagation"
                                    ng-options="opt.value as opt.name for opt in content.propagationOpts">
                                <option value="NA"></option>
                            </select>
                        </div>
                        <div ng-if="reviewLayout('regular') && data.propagation_review.lastReviewed">
                            <h4>Old Content:</h4>
                            <div>
                                <select ng-disabled="true"
                                        chosen
                                        ng-model="data.propagation_review.lastReviewed"
                                        ng-options="opt.value as opt.name for opt in content.propagationOpts">
                                    <option value="NA"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="implication" class="chosen-full-width">
                    <div>
                        <h4 ng-if="reviewLayout('regular')">New Content:</h4>
                        <div>
                            <select ng-disabled="!reviewContentEditable('regular')"
                                    chosen allow-single-deselect="true"
                                    ng-model="data[key]"
                                    ng-options="opt.value as opt.label for opt in o">
                                <option value="NA"></option>
                            </select>
                        </div>
                        <div ng-if="reviewLayout('regular')">
                            <h4>Old Content:</h4>
                            <select ng-disabled="true"
                                    chosen
                                    ng-model="data[key+'_review'].lastReviewed"
                                    ng-options="opt.value as opt.label for opt in o">
                                <option value="NA"></option>
                            </select>

                            <!-- <p ng-class="unEditableBox" contenteditable="false">{{}}</p> -->
                        </div>
                    </div>
                </div>
                <div ng-switch-when="select-chosen" class="chosen-full-width">
                    <h4 ng-if="reviewLayout('regular')">New Content:</h4>
                    <select ng-disabled="!reviewContentEditable('regular')"
                            chosen allow-single-deselect="true"
                            ng-model="data[key]"
                            ng-options="opt for opt in o">
                        <option value="NA"></option>
                    </select>
                    <div ng-if="reviewLayout('regular')">
                        <h4>Old Content:</h4>
                        <p ng-class="unEditableBox" contenteditable="false">{{::reviewObj.lastReviewed}}</p>
                    </div>
                </div>
                <div ng-switch-when="checkbox">
                    <div>
                        <div ng-if="key !== 'ocg' && reviewLayout('regular')"><br/><h4>New Content:</h4></div>
                        <div ng-style="getInputStyle('new')">
                            <span ng-repeat="checkbox in checkboxes">
                              <input id="::{{uuid+$index}}"
                                      type="radio"
                                      ng-model="data[key]"
                                      ng-value="checkbox"
                                      ng-disabled="!reviewContentEditable('regular')"
                                      ng-click="uncheck($event)">
                              <label for="::{{uuid+$index}}">{{checkbox}}</label>
                            </span>
                        </div>
                    </div>
                    <div ng-if="reviewLayout('regular')">
                        <h4 ng-if="key !== 'ocg'">Old Content:</h4>
                        <div ng-style="getInputStyle('old')">
                            <span ng-repeat="checkbox in checkboxes" class="reviewedBG">
                              <input id="::{{uuid+$index+'_review'}}"
                                      type="radio"
                                      ng-checked="getOldcontentChecked(checkbox)"
                                      ng-disabled="true">
                              <label for="::{{uuid+$index+'_review'}}">{{checkbox}}</label>
                            </span>
                        </div>

                    </div>
                </div>
                <div ng-switch-default></div>
            </div>
        </div>
        <div ng-switch-default></div>
    </div>
</div>
