<div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter" ng-init="init()">

    <div class="row">

        <div class="col-md-4">

            <h3>Select file</h3>
            
            <div ng-show="uploader.isHTML5">
                <!-- 3. nv-file-over uploader="link" over-class="className" -->
                <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                    Drop your file in here. <br/>(xlsx file or quest annotated xml file only)
                </div>
            </div>
            <input type="file" nv-file-select="" uploader="uploader" />
            
            <br/>
            <form ng-if="fileSelected && isXLSX" class="form-inline">
                <div class="input-group input-group-sm" style='width:100%' >
                    <span class="input-group-addon"><b>Email:</b></span>
                    <input type="text" ng-model="sheets.email" id="email" class="form-control">
                </div>
                <div ng-repeat="(key, value) in sheets.arr" class="input-group input-group-sm" style='width:100%'>
                    <span class="input-group-addon"><b>Folder name for {{key}}:</b></span>
                    <input type="text" id="folderName-{{$index}}" ng-model="sheets.folder[key].name" class="form-control" placeholder="(optional)">
                </div>
            </form>
            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
            
        </div>
        
        <div ng-if="fileSelected && isXLSX" class="col-md-8" style="margin-bottom: 40px">

            <h3>Upload File Info</h3>
            <p>Number of Sheets: {{ sheets.length }}</p>
            <div ng-repeat="(key, value) in sheets.arr">
                <h5>{{key}}</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th ng-repeat="title in sheets.attr[key]">
                                {{title}}
                            </th>
                                <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="datum in value" ng-switch on="key">
                            <td ng-repeat="columnKey in sheets.attr[key]">{{datum[columnKey]}}
                            </td>
                            <td>
                                <i ng-show="datum.generated===1 && !datum.generating" class="fa fa-check" ></i>
                                <i ng-show="datum.generating" class="fa fa-spinner fa-spin"></i>
                                <span style="color: red" ng-show="!datum.generating && datum.generated===-1">Failed</span>
                                <i ng-show="datum.generated===0 && !datum.generating && !working" class="fa fa-trash-o" ng-click="deleteItem(key, datum)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <div>
                <div>
                    Generate progress:
                    <progressbar class="progress-striped active" value="progress.value" type="info"><span style="color: black"><i>{{progress.dynamic}} / {{progress.max}}</i></span></progressbar>
                </div>
                <button type="button" id="rg-rfr-btn" class="btn btn-success btn-s pull-right" ng-disabled="working" ng-click="regenerate()" ng-disabled="!sheets.length" ng-show="hasFailed">
                    <span ng-hide="working"><span class="glyphicon glyphicon-upload"></span>Regenerate failed reports</span><i ng-show="working" class="fa fa-spinner fa-spin"></i>
                </button>
                <button type="button" class="btn btn-success btn-s pull-right" ng-disabled="working" ng-click="generate()" ng-disabled="!sheets.length" ng-hide="hasFailed">
                    <span ng-hide="working"><span class="glyphicon glyphicon-upload"></span>Generate all reports</span><i ng-show="working" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>

        </div>
        <div ng-if="fileSelected && isXML" class="col-md-12">
            <accordion close-others="oneAtATime">
                <accordion-group  ng-repeat="reportViewData in reportViewDatas" >
                    <accordion-heading>
                        <span>{{reportViewData.geneName}}&nbsp;&nbsp;&nbsp;{{reportViewData.mutation}}&nbsp;&nbsp;&nbsp;{{reportViewData.tumorTissueType}}</span>
                    </accordion-heading>
                    <report-view report-params="reportViewData" summary-table-titles="summaryTableTitles" report-matched-params="reportMatchedParams"></report-view>

                </accordion-group>
            </accordion>
        </div>
    </div>
</div>
