<div class="reportGenerator">
    <div class="reportGenerator" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter" ng-init="init()">
    <h3>Review History</h3>
    <div class="row" style="margin-top:30px; margin-bottom:30px;">
        <div class="col-sm-1">Genes:</div>
        <div class="col-sm-6">
            <select chosen multiple
                    data-placeholder="Enter A Gene"
                    ng-model="genesForHistory"
                    ng-options="m as m for m in geneNames"
                    ng-change="checkHistoryInputStatus()"
                    class="chosen-select">
                <option value=""></option>
            </select>
        </div>
        <div class="col-sm-2">
            <input id="includeUUID" type="checkbox" ng-model="includeUUID"/>
            <label for="includeUUID">Include UUID</label>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-default" ng-click="searchHistory(genesForHistory, 0)" ng-disabled="disableHistoryButton" ng-bind-html="getHistoryButtonContent()"></button>
        </div>
    </div>
    <div style="margin-bottom:80px" ng-if="historySearchResults.length > 0">
        <table datatable="ng" class="row-border hover" dt-options="dt.dtOptions">
            <thead>
            <tr>
                <th>Gene</th>
                <th>Reviewed by</th>
                <th>Reviewed at</th>
                <th>Records</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in historySearchResults">
                <td><strong><a href="#/gene/{{x.gene}}">{{ x.gene }}</a></strong></td>
                <td>{{x.admin}}</td>
                <td>{{x.timeStamp | date : 'MMM d, h:mm a yyyy'}}</td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="y in x.records track by $index">
                            <div ng-switch on="y.operation">
                                <div ng-switch-when="update">
                                    {{y.location + ' ' + y.operation + 'd' + ' by ' + y.lastEditBy}}
                                </div>
                                <div ng-switch-when="delete">
                                    {{y.location + ' ' + y.operation + 'd' + ' by ' + y.lastEditBy}}
                                </div>
                                <div ng-switch-when="add">
                                    {{y.location + ' ' + y.operation + 'ed' + (y.lastEditBy ? ' by ' + y.lastEditBy : '')}}
                                </div>
                                <div ng-if="includeUUID">{{y.uuids}}</div>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr/>
    <h3>Query Reviewed Data</h3>
    <div class="row" style="margin-top:30px; margin-bottom:30px;">
        <div class="col-sm-2 queryLabel">Query Type:</div>
        <div class="col-sm-4">
            <select chosen 
                    data-placeholder="Enter A type"
                    ng-model="evidenceType"
                    ng-options="m.value as m.label for m in evidenceTypes"
                    class="chosen-select"
                    ng-change="updateReviewData()">
                <option value=""></option>
            </select>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-default" ng-click="generateEvidences()" ng-disabled="!evidenceType" ng-bind-html="getReviewButtonContent()"></button>
        </div>
        <div class="col-sm-1" ng-if="displayReviewedData">
            <button type="button" class="btn btn-default" ng-click="downloadReviewedData()"> Download </button>
        </div>
    </div>
    <div ng-if="displayReviewedData" >
        <table datatable="ng" class="row-border hover" dt-options="reviewedDT.dtOptions">
            <thead>
            <tr>
                <th ng-repeat="x in reviewedData[evidenceType].header">{{ x }}</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in reviewedData[evidenceType].body">
                    <td ng-repeat="key in reviewedData[evidenceType].keys">
                        <div ng-switch on="key">
                                <div ng-switch-when="gene">
                                    <strong><a href="#/gene/{{item.gene}}">{{ item.gene }}</a></strong>
                                </div>
                                <div class="reviewedData" ng-switch-when="mutation">{{item.mutation}}</div>
                                <div class="reviewedData" ng-switch-when="drugs">{{item.drugs}}</div>
                                <div ng-switch-default>{{ item[key] }}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/><br/>
    <hr/>
    <h3>Are all truncating mutations curated under tumor suppressor genes? </h3>
    <div class="validationButton">
        <button type="button" class="btn btn-default" ng-click="validateTruncating()" ng-bind-html="getValidationButtonContent()"></button>
    </div>
    <h4 ng-class="{'invalidResut': !validation.flag, 'validResut': validation.flag}">
        {{ validation.result }}
    </h4>
    <br/><br/>
    </div>
</div>
