<div class="reportGenerator" ng-init="init()">
    <div class="pageReminder" ng-show="!internal">Sorry, some functions are not available. Please use internal network to access these functions.</div>
    <h3>Create Genes</h3>
    <div style="max-width: 400px;">
        <span class="input-group input-group-sm" role="group" ng-show="me.admin">
            <input type="text" class="form-control" ng-model="newGenes" placeholder="Comma-separated gene names">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-secondary" ng-click="create()">Create Genes</button>
            </span>
        </span>
        <span ng-if="createdGenes.length > 0" class="success-info">Gene(s) {{ createdGenes.join(', ') }} have been successfully added to OncoKB.</span>
    </div>
    <hr/>

    <h3>Review History</h3>
    <div class="row first-row-margin">
        <div class="col-sm-1">Genes:</div>
        <div class="col-sm-6">
            <select chosen multiple
                    data-placeholder="Enter A Gene"
                    ng-model="genesForHistory"
                    ng-options="m as m for m in geneNames"
                    class="chosen-select">
                <option value=""></option>
            </select>
        </div>
        <div class="col-sm-2">
            <input id="includeUUID" type="checkbox" ng-model="includeUUID"/>
            <label for="includeUUID">Include UUID</label>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-default" ng-click="searchHistory(genesForHistory)" ng-bind-html="getHistoryButtonContent()"></button>
        </div>
    </div>
    <div class="row row-margin">
        <div class="col-sm-1">Date:</div>
        <div class="col-sm-6 date-range-column">
            <input date-range-picker class="form-control date-picker" type="text" options="dateRangeOptions" ng-model="dateRange" />
            <span id='close' class="cancel-icon" ng-click="clearDateRange()">x</span>
        </div>
    </div>
    <div class="row last-row-margin">
        <div class="col-sm-1">Type:</div>
        <div class="col-sm-6">
            <span ng-repeat="checkbox in typeCheckboxes">
                <input id="{{checkbox}}" type="checkbox" ng-checked="selectedTypeCheckboxes.indexOf(checkbox) > -1"
                       ng-click="toggleSelection(checkbox)">
                <label for="{{checkbox}}">{{checkbox}}</label>
            </span>
        </div>
    </div>
    <div class="result-margin" ng-if="historySearchResults.length > 0">
        <div>
            <span class="tage tage-label label-primary">Location</span>
            <span class="tage tage-label label-success">Operation</span>
            <span class="tage tage-label label-warning">Edit By</span>
            <span class="tage tage-label label-new">New Content</span>
            <span class="tage tage-label label-old">Old Content</span>
        </div>
        <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-columns="dtColumns">
            <thead>
            <tr>
                <th>Gene</th>
                <th>Reviewed by</th>
                <th>Reviewed at</th>
                <th>Records</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in historySearchResults">
                <td><strong><a href="#!/gene/{{x.gene}}">{{ x.gene }}</a></strong></td>
                <td>{{x.admin}}</td>
                <td>{{x.timeStamp | date : 'MMM d, h:mm a yyyy'}}</td>
                <td class="records-width">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="y in x.records track by $index">
                            <span class="tage tage-label label-primary">{{ y.location }}</span>
                            <span class="tage tage-label label-success">{{ y.operation }} </span>
                            <span class="tage tage-label label-warning">{{ y.lastEditBy }}</span>
                            <span ng-if="y.new" class="tage tage-label label-new">{{y.new | json}}</span>
                            <span ng-if="y.old && !y.diffHTML" class="tage tage-label label-old">{{ y.old | json}}</span>
                            <span ng-if="y.diffHTML" class="tage tage-label label-old" ng-bind-html="y.diffHTML"></span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="result-margin" ng-if="errorMessage.length > 0">
        <h4 class="invalidResult">{{ errorMessage }}</h4>
    </div>
    <div ng-if="internal">
    <hr/>
    <h3>Query Reviewed Data</h3>
    <div class="row" style="margin-top:30px; margin-bottom:30px;">
        <div class="col-sm-2 queryLabel">Query Type:</div>
        <div class="col-sm-4">
            <select ng-model="data.evidenceType"
                    ng-options="m.value as m.label for m in evidenceTypes"
                    class="form-control"
                    ng-change="updateReviewData()">
            </select>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-default" ng-click="generateEvidences()" ng-disabled="!data.evidenceType" ng-bind-html="getReviewButtonContent()"></button>
        </div>
        <div class="col-sm-1" ng-if="displayReviewedData">
            <button type="button" class="btn btn-default" ng-click="downloadReviewedData()"> Download </button>
        </div>
    </div>
    <div ng-if="displayReviewedData" >
        <table datatable="ng" class="row-border hover" dt-options="reviewedDT.dtOptions">
            <thead>
            <tr>
                <th ng-repeat="x in reviewedData[data.evidenceType].header">{{ x }}</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in reviewedData[data.evidenceType].body">
                    <td ng-repeat="key in reviewedData[data.evidenceType].keys">
                        <div ng-switch on="key">
                            <div ng-switch-when="gene">
                                <strong><a href="#!/gene/{{item.gene}}">{{ item.gene }}</a></strong>
                            </div>
                            <div ng-if="data.evidenceType !== 'drugs'">
                                <div class="reviewedData" ng-switch-when="mutation">{{item.mutation}}</div>
                                <div class="reviewedData" ng-switch-when="drugs">{{item.drugs}}</div>
                            </div>
                            <div ng-switch-default>{{ item[key] }}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/><br/>
    <hr/>
    <h3>Are all truncating mutations curated under tumor suppressor genes? </h3>
    <div class="validationButton">
        <button type="button" class="btn btn-default" ng-click="validateTruncating('tmValidation')" ng-bind-html="getValidationButtonContent('tmValidation')"></button>
    </div>
    <h4 ng-class="{'invalidResult': !tmValidation.flag, 'validResult': tmValidation.flag}">
        {{ tmValidation.result }}
    </h4>
    <hr/>
    <h3>Do all tumor suppressor genes have truncating mutation curated? </h3>
    <div class="validationButton">
        <button type="button" class="btn btn-default" ng-click="validateTruncating('tsgValidation')" ng-bind-html="getValidationButtonContent('tsgValidation')"></button>
    </div>
    <h4 ng-class="{'invalidResult': !tsgValidation.flag, 'validResult': tsgValidation.flag}">
        {{ tsgValidation.result }}
    </h4>
    <br/><br/>
    </div>
</div>
