<div>

    <div ng-if="status.fileSelected && status.isXML && status.validXML" class="col-md-12">
        <uib-accordion close-others="oneAtATime">
            <uib-accordion-group  ng-repeat="reportViewData in reportViewDatas" >
                <uib-accordion-heading>
                    <span>{{reportViewData.geneName}}&nbsp;&nbsp;&nbsp;{{reportViewData.mutation}}&nbsp;&nbsp;&nbsp;{{reportViewData.tumorTissueType}}</span>
                </uib-accordion-heading>
                <report-view report-params="reportViewData" summary-table-titles="summaryTableTitles" report-matched-params="reportMatchedParams"></report-view>
            </uib-accordion-group>
        </uib-accordion>
    </div>

    <div ng-if="status.fileSelected && status.isXML && !status.validXML" class="col-md-12">
        Invalid XML format.
    </div>

    <div ng-if="status.fileSelected && ! status.isXML" class="col-md-12">
        No info.
    </div>
</div>