<!--<div ng-init="init()" ng-hide="rendering" id="vus">-->
<div>
    <table class="table table-bordered vus-table">
        <thead>
            <tr>
                <td></td>
                <td>Rare</td>
                <td>Recurrent</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Investigated and data not found</td>
                <td>
                    To our knowledge, this rare variant has no associated functional data.<br/><br/>
                    <i>(Singletons listed with date in separate page in gene)</i>
                </td>
                <td>
                    Due to its recurrence in cancer (COSMIC, Chang et al., Nat Biotechnol 2015 [list all that apply]), this variant is possibly oncogenic; however, to our knowledge, this variant has no associated functional data.<br/><br/>
                    <i>(Variants with incidence ≥10 in COSMIC in ph 0 genes but not annotation AND/OR Chang et al.)</i>
                </td>
            </tr>
            <tr>
                <td>Not investigated</td>
                <td>
                    This rare variant is of unknown significance.<br/><br/>
                    <i>(Singletons we haven’t checked)</i>
                </td>
                <td>
                    Due to its recurrence in cancer (COSMIC, Chang et al., Nat Biotechnol 2015 [list all that apply]), this variant is possibly oncogenic; however, it is unknown whether functional data characterizing this variant is available.<br/><br/>
                    <i>(Variants with incidence ≥10 in COSMIC in ph 0 genes but not annotation AND/OR Chang et al.)
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--<loading ng-model="rendering"></loading>-->