<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--this file is not used for config hibernate. please use /spring/beans/Hibernate.xml-->
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/oncokb</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.dialect">org.mskcc.cbio.oncokb.util.UTF8MySQLDialect</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.format_sql">false</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <property name="hibernate.connection.characterEncoding">utf8</property>
    <property name="hibernate.connection.charSet">utf8</property>
    <property name="hibernate.current_session_context_class">thread</property>
      <property name="hibernate.connection.release_mode">after_statement</property>
<!--    <property name="hibernate.hbm2ddl.auto">create</property>-->
    <!--<property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>-->
    <!--2nd level caching-->
    <property name="hibernate.cache.use_second_level_cache">false</property>
    <property name="hibernate.cache.use_query_cache">false</property>
    <mapping class="org.mskcc.cbio.oncokb.model.Drug"/>
    <mapping class="org.mskcc.cbio.oncokb.model.Alteration"/>
    <mapping class="org.mskcc.cbio.oncokb.model.GenomicAlteration"/>
    <mapping class="org.mskcc.cbio.oncokb.model.Article"/>
    <mapping class="org.mskcc.cbio.oncokb.model.PortalAlteration"/>
    <mapping class="org.mskcc.cbio.oncokb.model.Evidence"/>
    <mapping class="org.mskcc.cbio.oncokb.model.Treatment"/>
    <mapping class="org.mskcc.cbio.oncokb.model.Gene"/>
    <mapping class="org.mskcc.cbio.oncokb.model.VariantConsequence"/>
    <mapping class="org.mskcc.cbio.oncokb.model.TreatmentDrug"/>
    <mapping class="org.mskcc.cbio.oncokb.model.Geneset"/>
    <mapping class="org.mskcc.cbio.oncokb.model.TumorType"/>
    <mapping class="org.mskcc.cbio.oncokb.model.Info"/>
  </session-factory>
</hibernate-configuration>
