<div>
      <button id="authorizeButton" ng-click="authorize()" class="btn btn-default">Authorize Button</button>
    

      <!-- <p>These text areas are on the same page. You can also <a target="_blank" href="#">open them on separate users'
      browsers</a> and they will remain synchronized.</p> -->

      <!-- Text areas that will be used as our collaborative controls. -->
      <!-- <textarea id="editor1" rows="15" cols="50" disabled="true"></textarea>
      <textarea id="editor2" rows="15" cols="50" disabled="true"></textarea>
      <br /> -->

      <!-- Undo and redo buttons. -->
      <!-- <button id="undoButton" disabled>Undo</button>
      <button id="redoButton" disabled>Redo</button> -->
</div>