<div ng-if="gene">
	<div id="gene">
		<h2>Gene: <span>{{gene.name.text}}</span>
			<span ng-repeat="collaborator in collaborators">
				<img style="height:30px" ng-src="{{collaborator.photoUrl}}" tooltip-placement="top" tooltip="{{collaborator.displayName}}">
			</span>
			<span class="btn-group pull-right" role="group">
				<button type="button" class="btn btn-default" ng-disabled="!canUndo" ng-click="undo()">Undo</button>
					<button type="button" class="btn btn-default" ng-disabled="!canRedo" ng-click="redo()">Redo</button>
			</span>
		</h2>
		<p ng-if="gene.curators && gene.curators.asArray().length > 0">
			<span><strong>Curator name: <span ng-bind="curatorsName()"></span></strong></span><br/>
			<span><strong>Curator email: <span ng-bind="curatorsEmail()"></span></strong></span>
		</p>
		<h3>{{gene.summary.display}}:</h3>
		<p ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="gene.summary.text"></p>
		<h3>{{gene.background.display}}:</h3>
		<p ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="gene.background.text"></p>
		<p ng-if="gene.name.text">
			<span>cBioPortal link: <a href="www.cbioportal.org/public-portal/ln?q={{gene.name.text}}" target="_blank">www.cbioportal.org/public-portal/ln?q={{gene.name.text}}</a></span><br/>
			<span>COSMIC link: <a href="http://cancer.sanger.ac.uk/cosmic/gene/overview?ln={{gene.name.text}}" target="_blank">http://cancer.sanger.ac.uk/cosmic/gene/overview?ln={{gene.name.text}}</a></span>
		</p>
	</div>
	<div id="mutation">
		<accordion close-others="oneAtATime">
        	<accordion-group ng-repeat="mutation in gene.mutations.asArray()">
	        	<accordion-heading>
		        	Mutation: <span ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="mutation.name.text"/></span>
		        	<i ng-click="remove($index, gene.mutations, $event)" class="fa fa-trash-o pull-right"></i>
		        </accordion-heading>
		        <p>
		        	<strong>{{mutation.oncogenic.display}}:</strong>
		        	<span ng-repeat="checkbox in checkboxes['oncogenic']">
						<input
					  		id="{{mutation.name.text}}-oncogenic-box{{$index}}"
						    type="checkbox"
						    ng-model="mutation.oncogenic.text"
						    ng-true-value="{{checkbox}}"
						    ng-false-value=""
					  	>
			        	<label for="{{mutation.name.text}}-oncogenic-box{{$index}}">{{checkbox}}
						</label>
					</span>
				</p>
				<p>
		        	<strong>{{mutation.effect.display}}:</strong>
		        	<span ng-repeat="checkbox in checkboxes['mutation_effect']">
						<input
					  		id="{{mutation.name.text}}-mutation_effect-box{{$index}}"
						    type="checkbox"
						    ng-model="mutation.effect.text"
						    ng-true-value="{{checkbox}}"
						    ng-false-value=""
					  	>
			        	<label for="{{mutation.name.text}}-mutation_effect-box{{$index}}">{{checkbox}}
						</label>
					</span>
					Other:
					<input type="text" style="width: 30%" ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="mutation.effect.text"/>
				</p>
				<span>
		        	<strong>{{mutation.description.display}}:</strong>
		        	<br/>
		        	<p ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="mutation.description.text">
					</p>
				</span>
	            <accordion close-others="oneAtATime">
	                <accordion-group ng-repeat="tumor in mutation.tumors.asArray()">
	                    <accordion-heading>
	                        Tumor type: <span ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="tumor.name.text"/></span>
	                        <i ng-click="remove($index, mutation.tumors, $event)" class="fa fa-trash-o pull-right"></i>
	                    </accordion-heading>
	                    <h4>{{tumor.prevalence.display}}</h4>
	                    <p ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="tumor.prevalence.text">
						<hr/>
	                    <h4>{{tumor.progImp.display}}</h4>
	                    <p ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="tumor.progImp.text">
	                    </p>
						<hr/>
	                    <h4>NCCN guidelines</h4>
	                    <p>
				        	<strong>{{tumor.nccn.disease.display}}:</strong>
				        	<input type='text' ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="tumor.nccn.disease.text"/>
						</p>
						<p>
				        	<strong>{{tumor.nccn.version.display}}:</strong>
				        	<input type='text' ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="tumor.nccn.version.text"/>
						</p>
						<p>
				        	<strong>{{tumor.nccn.pages.display}}:</strong>
				        	<input type='text' ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="tumor.nccn.pages.text"/>
						</p>
						<p>
				        	<strong>{{tumor.nccn.category.display}}:</strong>
				        	<input type='text' ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="tumor.nccn.category.text"/>
						</p>
						<span>
				        	<strong>{{tumor.nccn.description.display}}:</strong>
				        	<br/>
				        	<p ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="tumor.nccn.description.text">
							</p>
						</span>
						<hr/>
						<div ng-repeat="ti in tumor.TI.asArray()">
							<h4>{{ti.name.text}}:</h4>
							<span>
					        	<p ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="ti.description.text">
								</p>
							</span>
							<accordion close-others="oneAtATime">
							    <accordion-group ng-repeat="treatment in ti.treatments.asArray()">
							        <accordion-heading>
							            <span>{{treatment.name.text}}</span>
							            <i ng-click="remove($index, ti.treatments, $event)" class="fa fa-trash-o pull-right"></i>
							        </accordion-heading>
							        <p>
							        	<strong>{{treatment.type.text}}:</strong>
							        	<input type='text' ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="treatment.name.text"/>
									</p>
									<p>
							        	<strong>{{treatment.level.display}}:</strong>
							        	<select style="width: 100%" ng-if="checkTI(ti, 1, 1)" ng-model="treatment.level.text"
							                ng-options="opt.value as opt.label for opt in levels.SS">
							            </select>
							        	<select style="width: 100%" ng-if="checkTI(ti, 1, 0)" ng-model="treatment.level.text"
							                ng-options="opt.value as opt.label for opt in levels.SR">
							            </select>
							        	<select style="width: 100%" ng-if="checkTI(ti, 0, 1)" ng-model="treatment.level.text"
							                ng-options="opt.value as opt.label for opt in levels.IS">
							            </select>
							        	<select style="width: 100%" ng-if="checkTI(ti, 0, 0)" ng-model="treatment.level.text"
							                ng-options="opt.value as opt.label for opt in levels.IR">
							            </select>
									</p>
									<p>
							        	<strong>{{treatment.indication.display}}:</strong>
							        	<input type='text' ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="treatment.indication.text"/>
									</p>
									<span>
							        	<strong>{{treatment.description.display}}:</strong>
							        	<br/>
							        	<p ng-class="{editableBox:fileEditable, unEditableBox:!fileEditable}" contenteditable="true" ng-model="treatment.description.text">
										</p>
									</span>
							    </accordion-group>
							</accordion>
							<div class="input-group input-group-sm">
								<input type="text" class="form-control" ng-model="newTI[$index].name" placeholder="Drugs name" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-disabled="!(!!newTI[$index].name)" ng-click="addTI(ti, $index)">
										<i class="fa fa-plus"></i> Add Therapeutic Implications
									</button>
								</span>
							</div>
							<hr/>
						</div>
						<h4>Ongoing clinical trials</h4>
	                    <div>
	                    	<span class="curateTrialItem" ng-repeat="trial in tumor.trials.asArray()">{{trial}}
	                    	<i ng-click="remove($index, tumor.trials, $event)" class="fa fa-trash-o"></i>
	                    	</span>
	                    	<div class="input-group input-group-sm" style="width:200px">
								<input type="text" class="form-control" ng-model="newTrial" placeholder="Trial ID" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-disabled="!(!!newTrial)" ng-click="addTrial(tumor.trials)">
										<i class="fa fa-plus"></i> Add Trial
									</button>
								</span>
							</div>
	                    </div>
	                </accordion-group>
	            </accordion>
				<div class="input-group input-group-sm">
					<input type="text" class="form-control" ng-model="newTumorType.name" placeholder="Tumor type name" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-disabled="!(!!newTumorType.name)" ng-click="addTumorType(mutation)">
							<i class="fa fa-plus"></i> Add Tumor Type
						</button>
					</span>
				</div>
	        </accordion-group>
	    </accordion>
	</div>
	<div class="input-group input-group-sm">
		<input type="text" class="form-control" ng-model="newMutation.name" placeholder="Mutation name" />
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-disabled="!(!!newMutation.name)" ng-click="addMutation()">
				<i class="fa fa-plus"></i> Add Mutation
			</button>
		</span>
	</div>
</div>