<div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter" ng-init="init()">

    <div class="row">

        <div class="col-md-3">

            <h3>Select file</h3>

            <div ng-show="uploader.isHTML5">
                <!-- 3. nv-file-over uploader="link" over-class="className" -->
                <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                    Drop your file in here. <br/>(xlsx file only)
                </div>
            </div>

            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
            
            <input type="file" nv-file-select="" uploader="uploader" />
        </div>

            <div ng-show="fileSelected" class="col-md-9" style="margin-bottom: 40px">

            <h3>Upload File Info</h3>
            <p>Number of Sheets: {{ sheets.length }}</p>
            <div ng-repeat="(key, value) in sheets.arr">
                <h5>{{key}}</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th ng-repeat="title in sheets.attr[key]">
                                {{title}}
                            </th>
                                <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="datum in value" ng-switch on="key">
                            <td ng-repeat="columnKey in sheets.attr[key]">{{datum[columnKey]}}
                            </td>
                                <td><span class="glyphicon glyphicon-remove" ng-click="deleteItem(key, datum)"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <div>
                <div>
                    Generate progress:
                    <progressbar class="progress-striped active" value="progress.value" type="info"><span style="color: black"><i>{{progress.dynamic}} / {{progress.max}}</i></span></progressbar>
                </div>
                <button type="button" class="btn btn-success btn-s pull-right" ng-disabled="working" ng-click="generate()" ng-disabled="!sheets.length">
                    <span ng-hide="working"><span class="glyphicon glyphicon-upload"></span> Generate all reports</span><img ng-show="working" src="http://www.bba-reman.com/images/fbloader.gif"/>
                </button>
            </div>

        </div>

    </div>
</div>
