<div id="variantDisplay" class="tab-pane fade in" ng-init="init()">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Search Criteria</h2>
        </div>
    </div>
    <br />
    <div class="row" id='variantCriteria'>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><b>Gene Name:</b></span>
                <input type="text" ng-model="geneName" id="variantGeneName" style='width:100%' class="form-control" placeholder="(eg. BRAF)">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><b>Mutation:</b></span>
                <input type="text" ng-model="mutation" id="variantMutation" style='width:100%' class="form-control" placeholder="(eg. V600E)">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <select chosen ng-model='selectedTumorType' id="tumorTypesDropDown" ng-options='tumorType.name for tumorType in tumorTypes' allow-single-deselect="true" data-placeholder="Choose a tumor type (eg. lung cancer)">
            <option value=""></option>
            </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="btn-group btn-group-sm" style='width:100%'>
                <button ng-class="{'halfSizeButton': !annotation, 'oneThirdSizeButton': annotation}" id="searchVariantBtn" type="button" ng-disabled="rendering" ng-click="search()" class="btn btn-default"><span ng-hide="rendering">Search</span><img ng-show="rendering" src="http://www.bba-reman.com/images/fbloader.gif"/></button>
                <button ng-class="{'halfSizeButton': !annotation, 'oneThirdSizeButton': annotation}" id="useExampleBtn" type="button" ng-disabled="rendering" ng-click="useExample()" class="btn btn-default"><span ng-hide="rendering">Example</span><img ng-show="rendering" src="http://www.bba-reman.com/images/fbloader.gif"/></button>
                <button ng-class="{'oneThirdSizeButton': true}" id="generateReport" type="button" ng-disabled="generaingReport" ng-show="annotation" ng-click="generateReport()" class="btn btn-default"><span ng-hide="generaingReport">Report</span><img ng-show="generaingReport" src="http://www.bba-reman.com/images/fbloader.gif"/></button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="annotation">
        <div id="variantDisplayResult" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class='table'>
                <thead>
                    <tr style='background-color: lightgrey;font-weight: bold;'>
                        <td>Gene Name</td>
                        <td>Mutation</td>
                        <td>Tumor Type</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{geneName}}</td>
                        <td>{{mutation}}</td>
                        <td>{{selectedTumorType.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <tabset ng-show="annotation" justified="true" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <tab heading="Report View">
                
            </tab>
            <tab heading="Simple View">
                <regular-view annotation="annotation" summary-table-titles-content="summaryTableTitlesContent" summary-table-titles="summaryTableTitles" special-attr="specialAttr" find-regex="findRegex" set-collapsed="setCollapsed" get-collapse-icon="getCollapseIcon" is-collapsed="isCollapsed" generate-trial="generateTrial" generate-nccn="generateNCCN" fda-approved="fdaApproved" generate-trail="generateTrail" display-process="displayProcess" display-parts="displayParts"></regular-view>
            </tab>
        </tabset>
        
    </div>
</div>