<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="components/chosen/chosen.css" />
    <link rel="stylesheet" href="components/angular-dialog-service/dist/dialogs.min.css" />
    <link rel="stylesheet" href="components/datatables/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.css" />
    <link rel="stylesheet" href="components/please-wait/build/please-wait.css" />
    <link rel="stylesheet" href="components/spinkit/css/spinkit.css" />
    <link rel="stylesheet" href="components/angular-ui-notification/dist/angular-ui-notification.css" />
    <link rel="stylesheet" href="components/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="components/ng-tags-input/ng-tags-input.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css">
    <link rel="stylesheet" href="_components/jquery.qtip.min.css">
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- Favicon configs from Real Favicon Generator -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png?v=rMM202dQYX">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png?v=rMM202dQYX">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png?v=rMM202dQYX">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png?v=rMM202dQYX">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png?v=rMM202dQYX">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png?v=rMM202dQYX">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png?v=rMM202dQYX">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png?v=rMM202dQYX">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon-180x180.png?v=rMM202dQYX">
    <link rel="icon" href="images/favicon/favicon.ico?v=rMM202dQYX">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png?v=rMM202dQYX" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon/favicon-194x194.png?v=rMM202dQYX" sizes="194x194">
    <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png?v=rMM202dQYX" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicon/android-chrome-192x192.png?v=rMM202dQYX" sizes="192x192">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png?v=rMM202dQYX" sizes="16x16">
    <link rel="manifest" href="images/favicon/manifest.json?v=rMM202dQYX">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg?v=rMM202dQYX" color="#1c75cd">
    <link rel="shortcut icon" href="images/favicon/favicon.ico?v=rMM202dQYX">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png?v=rMM202dQYX">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <!-- build:js scripts/pleaseWait.js -->
    <script src="components/please-wait/build/please-wait.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
      window.loadingScreen = window.pleaseWait({
        logo: "images/mskcc_full.png",
        backgroundColor: '#2986e2',
        loadingHtml: "<div class='sk-spinner sk-spinner-wave white margin'><div class='sk-rect1'></div><div class='sk-rect2'></div><div class='sk-rect3'></div><div class='sk-rect4'></div><div class='sk-rect5'></div></div>"
    });
    </script>
    <div id="displayTabs">
        <nav class="navbar navbar-default fixedNavbar" role="navigation" ng-controller="NavCtrl">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ng-href="#!/genes">OncoKB</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

                    <ul class="nav navbar-nav">
                        <li ng-repeat="tab in tabs" ng-class="{active:tabIsActive('/'+tab.key)}"><a ng-href="#!/{{tab.key}}" ng-click="setLocalStorage(tab.key)">{{tab.value}}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!-- <span ng-if="!signedIn"><i class="fa fa-google fa-lg"></i> Login with Google</span>
                            <span ng-if="signedIn">Welcome</span> -->

                            <div ng-if="signedInUser.email" style="float: left">
                                <div style="float: left; margin: 5px">
                                    <span>{{signedInUser.email | cut:true:20}}</span><br/>
                                    <span id="signout" ng-click="signOut()">Sign out</span>
                                </div>
                                <img style="float: left;width:50px" ng-if="signedInUser.photoURL !== ''" ng-src="{{signedInUser.photoURL}}">
                            </div>
                            <div class="btn-group" role="group" ng-show="!signedInUser.email" id="googleSignIn">
                                <!-- <span id="signInButton">
                                </span> -->
                                <!-- <i class="fa fa-google"></i> -->
                                <button class="btn btn-default" disabled><i class="fa fa-google"></i></button>
                                <button class="btn btn-default" ng-click="signIn()">Sign in</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>

                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        <ie-warning></ie-warning>
        <div ng-view="" class="container oncokbMainView"></div>
    </div>
    <!-- build:js scripts/common.js -->
    <!-- bower:js -->
    <script src="components/es5-shim/es5-shim.js"></script>
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/json3/lib/json3.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-animate/angular-animate.js"></script>
    <script src="components/angular-touch/angular-touch.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="components/angular-chosen/angular-chosen.js"></script>
    <script src="components/chosen/chosen.jquery.js"></script>
    <script src="components/angular-chosen-localytics/dist/angular-chosen.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/angular-translate/angular-translate.js"></script>
    <script src="components/angular-dialog-service/dist/dialogs.min.js"></script>
    <script src="components/angular-dialog-service/dist/dialogs-default-translations.min.js"></script>
    <script src="components/angular-recursion/angular-recursion.js"></script>
    <script src="components/jszip/dist/jszip.js"></script>
    <script src="components/js-xlsx/dist/xlsx.js"></script>
    <script src="components/stringjs/lib/string.min.js"></script>
    <script src="components/levenshtein/lib/levenshtein.js"></script>
    <script src="components/oridomi/oridomi.js"></script>
    <script src="components/x2js/xml2json.min.js"></script>
    <script src="components/angular-xml/angular-xml.js"></script>
    <script src="components/jspdf/dist/jspdf.min.js"></script>
    <script src="components/angular-contenteditable/angular-contenteditable.js"></script>
    <script src="components/underscore/underscore.js"></script>
    <script src="components/datatables/media/js/jquery.dataTables.js"></script>
    <script src="components/angular-datatables/dist/angular-datatables.js"></script>
    <script src="components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
    <script src="components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
    <script src="components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
    <script src="components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
    <script src="components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
    <script src="components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
    <script src="components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
    <script src="components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
    <script src="components/lodash/lodash.js"></script>
    <script src="components/jquery-ui/jquery-ui.js"></script>
    <script src="components/angular-ui-sortable/sortable.js"></script>
    <script src="components/d3/d3.js"></script>
    <script src="components/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="components/file-saver.js/FileSaver.js"></script>
    <script src="components/uuid-js/lib/uuid.js"></script>
    <script src="components/Blob/Blob.js"></script>
    <script src="components/google-diff-match-patch-js/diff_match_patch.js"></script>
    <script src="components/moment/moment.js"></script>
    <script src="components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
    <script src="components/ng-tags-input/ng-tags-input.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="//apis.google.com/js/api.js"></script>
    <script src="//apis.google.com/js/client:platform.js"></script>
    <!-- build:js scripts/oncokb.js -->
    <script src="components/chosen/chosen.jquery.min.js"></script>
    <script src="_components/jquery.qtip.min.js"></script>
    <script src="components/firebase/firebase.js"></script>
    <script src="components/angularfire/dist/angularfire.js"></script>
    <script src="components/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <script src="components/codemirror/lib/codemirror.js"></script>
    <script src="components/firepad/dist/firepad.min.js"></script>
    <script src="scripts/DataTableSortingMethods.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/factories/TreeFactory.js"></script>
    <script src="scripts/factories/VariantFactory.js"></script>
    <script src="scripts/controllers/VariantCtrl.js"></script>
    <script src="scripts/controllers/emailDialogCtrl.js"></script>
    <script src="scripts/controllers/VUSCtrl.js"></script>
    <script src="scripts/filters/Filter.js"></script>
    <script src="scripts/directives/regularview.js"></script>
    <script src="scripts/directives/reportview.js"></script>
    <script src="scripts/directives/reportinfo.js"></script>
    <script src="scripts/controllers/tools.js"></script>
    <script src="scripts/services/generatereportdataservice.js"></script>
    <script src="scripts/services/databaseconnector.js"></script>
    <script src="scripts/services/deepmerge.js"></script>
    <script src="scripts/services/findregex.js"></script>
    <script src="scripts/controllers/gene.js"></script>
    <script src="scripts/controllers/genes.js"></script>
    <script src="scripts/controllers/drugs.js"></script>
    <script src="scripts/controllers/nav.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/loadFiles.js"></script>
    <script src="scripts/directives/comments.js"></script>
    <script src="scripts/directives/typeaheadfocus.js"></script>
    <script src="scripts/services/browser.js"></script>
    <script src="scripts/directives/iewarning.js"></script>
    <script src="scripts/directives/qtip.js"></script>
    <script src="scripts/directives/pubiframe.js"></script>
    <script src="scripts/services/jspdf.js"></script>
    <script src="scripts/services/reportitem.js"></script>
    <script src="scripts/services/reportgeneratorworker.js"></script>
    <script src="scripts/services/reportviewfactory.js"></script>
    <script src="scripts/directives/loading.js"></script>
    <script src="scripts/directives/reviewPanel.js"></script>
    <script src="scripts/directives/curationQueue.js"></script>
    <script src="scripts/directives/realtimestring.js"></script>
    <script src="scripts/directives/reportviewrecursioncell.js"></script>
    <script src="scripts/services/mainutils.js"></script>
    <script src="scripts/services/numofreviewitems.js"></script>
    <script src="scripts/services/checknamechange.js"></script>
    <script src="scripts/services/firebaseconnector.js"></script>
    <script src="scripts/directives/searchadddrug.js"></script>
    <script src="scripts/directives/addmodifytherapy.js"></script>
    <!-- endbuild -->

</body>
</html>
