name: Application CI
on: [push, pull_request]
jobs:
  main:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build Application
        run: mvn -ntp -Ppublic -DskipTests install
